:host {
  display: block;

  &.has-top-divider {
    border-top: 1px solid var(--tw-neutral-200);
  }
  &.has-bottom-divider {
    border-bottom: 1px solid var(--tw-neutral-200);
  }
}

.gray-on-hover {
  &:hover {
    background-color: var(--tw-neutral-100);
  }
}
