<div
  *ngIf="uiDataBlock$ | async as uiDataBlock"
  class="tw-flex tw-flex-col"
  (click)="$event.stopPropagation()">
  <div class="tw-capitalize tw-p-3 tw-pl-10 tw-bg-neutral-100 tw-h5 tw-truncate tw-flex tw-flex-row tw-items-center">
    <button
      *ngIf="{ value: !uiDataBlock.hasKey && !hasKeyPair } as keyMissing"
      mat-icon-button
      [matTooltip]="keyMissing.value ? '' : decryptedViewMode ? 'Encrypt' : 'Decrypt'"
      [disabled]="keyMissing.value"
      (click)="decryptedViewMode = !decryptedViewMode">
      <mat-icon class="tw-w-4 tw-h-4">
        {{ decryptedViewMode ? 'lock_open' : 'lock' }}
      </mat-icon>
    </button>
    <ngx-t3-copy-to-clipboard
      *ngIf="{
        value: decryptedData$ | async | uint8 : 'raw'
      } as decryptedData"
      position="right"
      [tooltip]="decryptedViewMode ? 'Click to copy unencrypted data to clipboard' : 'decrypt the block to copy its content'"
      [hover]="false"
      [additionalClasses]="decryptedViewMode ? 'tw-cursor-pointer' : 'tw-cursor-default'"
      [textToCopy]="decryptedViewMode ? decryptedData.value || undefined : undefined">
      <span class="tw-mr-2">Data</span>
    </ngx-t3-copy-to-clipboard>
  </div>
  <div class="tw-min-h-[44px]">
    <ng-container *ngIf="decryptedViewMode ? decryptedData$ : rawData$ as content">
      <cdk-virtual-scroll-viewport
        *ngIf="content | async as data; else loading"
        itemSize="50"
        appendOnly
        class="tw-flex tw-flex-row tw-overflow-y-auto tw-min-h-[320px] tw-font-monospace tw-p-3 tw-pl-20 tw-grow tw-basis-0 tw-self-baseline">
        <div *cdkVirtualFor="let row of data | apply : chunkData" class="tw-flex tw-flex-row">
          <div class="tw-flex tw-items-center tw-justify-center tw-flex-wrap tw-p-3 tw-grow tw-basis-0 tw-self-baseline">
            <div
              *ngFor="let item of row"
              class="tw-p-1 tw-text-sm tw-underline tw-uppercase tw-w-5 tw-h-5 tw-flex tw-items-center tw-justify-center">
              {{ item | uint8 : 'hex' }}
            </div>
          </div>
          <div class="tw-flex tw-items-center tw-justify-center tw-flex-wrap tw-p-3 tw-grow tw-basis-0 tw-self-baseline">
            <div
              *ngFor="let item of row"
              class="tw-p-1 tw-text-sm tw-underline tw-w-5 tw-h-5 tw-flex tw-items-center tw-justify-center">
              {{ item | uint8 : 'raw' }}
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <ng-template #loading>
      <ngx-t3-spinner-context class="tw-my-10 tw-block">
        <p
          class="tw-mt-10 tw-h4"
          after>
          {{ 'i18n.Explorer.decrypting' | translate }}
        </p>
      </ngx-t3-spinner-context>
    </ng-template>
  </div>
</div>
