<ng-container>
  <ngx-t3-tabs class="tw-px-4 !tw-pt-5 tw-pb-3">
    <ngx-t3-tab-item
      value="threads"
      routerLinkActive="active"
      routerLink="./threads"
      width="fill">
      <mat-icon class="tw-w-4 tw-h-4 tw-mr-2 material-icons-outlined">forum</mat-icon>
      {{ 'i18n.Common.threads' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item
      value="streams"
      routerLinkActive="active"
      routerLink="./streams"
      width="fill">
      <mat-icon
        class="tw-w-4 tw-h-4 tw-mr-2"
        svgIcon="stream-overview"></mat-icon>
      {{ 'i18n.Common.streams' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item
      value="log"
      routerLinkActive="active"
      routerLink="./log"
      width="fill">
      <mat-icon class="tw-w-4 tw-h-4 tw-mr-2">list</mat-icon>
      {{ 'i18n.Common.log' | translate }}
    </ngx-t3-tab-item>
  </ngx-t3-tabs>

  <hr class="tw-m-0">

  <router-outlet></router-outlet>

</ng-container>
