<div
  *ngIf="references; else skeleton"
  class="tw-overflow-y-auto tw-grow">

  <div class="tw-flex tw-flex-row tw-mx-4 tw-mb-3 tw-text-sm">
    {{ 'i18n.Common.streamReferenced' | translate }}
  </div>

  <app-resource-reference
    *ngFor="let documentReferences of references || []; let first = first"
    [name]="(documentReferences.document$ | async)?.name"
    [references]="documentReferences.refs"
    [expandable]="true"
    [hasTopDivider]="first"></app-resource-reference>

</div>

<ng-template #skeleton>
  <ngx-t3-skeleton class="tw-h-4 tw-w-full tw--mx-4 tw-py-3 tw--mx-4"></ngx-t3-skeleton>
</ng-template>
