<div
  *ngIf="{
    blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async,
    participant: participant$ | async,
    streamClasses: streamClasses$ | async
  } as resolved"
  class="tw-overflow-y-auto tw-grow">
  <ng-container *ngIf="stream; else skeletonTemplate">
    <ngx-t3-descriptions class="tw-text-sm">
      <ngx-t3-description-item
        [label]="'i18n.Common.name' | translate"
        [multiline]="true">
        <span *ngIf="stream.name | exported; else redacted">{{ stream.name | noValueLabel }}</span>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.type' | translate">
        <div
          *ngIf="stream.uiType | exported; else redacted"
          class="tw-flex tw-flex-row tw-items-center">
          <ngx-t3-icon
            class="tw-mr-2"
            iconClass="tw-w-4 tw-h-4"
            [icon]="stream.uiType | apply : getStreamTypeIcon">
          </ngx-t3-icon>
          {{
            stream.uiType === 'boolean'
              ? 'Checkbox'
              : stream.uiType | titlecase | noValueLabel
          }}
        </div>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.value' | translate"
        [multiline]="true">
        <ngx-t3-stream-value-renderer
          [value]="stream.value"
          [type]="stream.type"
          [configuration]="stream.configuration">
        </ngx-t3-stream-value-renderer>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.description' | translate"
        [multiline]="true">
        <span *ngIf="stream.description | exported; else redacted">{{ stream.description | noValueLabel }}</span>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.machineName' | translate"
        [multiline]="true">
        <span *ngIf="stream.machineName | exported; else redacted">{{ stream.machineName | noValueLabel }}</span>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="resolved.streamClasses && resolved.streamClasses.length > 0"
        [label]="'i18n.Common.classes' | translate"
        [multiline]="true">
        <ngx-t3-tag-group class="tw-flex-wrap tw-flex tw-flex-row tw-grow-0 tw-overflow-hidden tw-gap-1">
          <app-redactable-tag
            *ngFor="let class of resolved.streamClasses"
            innerClasses="bg-grey-100"
            class="t3-tag-like tw-mb-1"
            [tagName]="class?.name"
            [color]="class?.color"></app-redactable-tag>
        </ngx-t3-tag-group>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="referencesCount !== undefined"
        [label]="'i18n.Common.refd' | translate">
        <span
          class="tw-text-sm"
          [ngClass]="{ 'tw-underline tw-cursor-pointer': referencesCount }"
          (click)="referencesClick.emit()">
          {{ referencesCount }} {{ referencesCount === 1 ? 'time' : 'times' }}
        </span>
        <mat-icon
          *ngIf="referencesCount"
          end
          class="tw-text-neutral-400 tw-w-4 tw-h-4 tw-cursor-pointer"
          (click)="referencesClick.emit()">
          arrow_forward
        </mat-icon>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastEditor' | translate">
        <app-participant-identity [participant]="resolved.participant"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastEdit' | translate">
        <span
          *ngIf="stream.updatedAt; else redacted"
          class="tw-text-sm">
          {{ stream.updatedAt | date: 'dd LLL yyyy, h:mm a' }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastLinkHash' | translate">
        <ngx-t3-copy-to-clipboard
          class="tw-block tw-truncate"
          position="left"
          [textToCopy]="stream.updatedInBlock.linkHash | uint8">
          <div class="tw-text-sm tw-truncate tw-font-code tw-mr-1">
            {{ stream.updatedInBlock.linkHash | uint8 }}
          </div>
        </ngx-t3-copy-to-clipboard>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.acks' | translate">
        <span class="tw-text-sm tw-block tw-truncate tw-underline">
          <app-acks-status
            [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
            (click)="openAcknowledgementsDialog(stream.updatedInBlock)">
          </app-acks-status>
        </span>
      </ngx-t3-description-item>

    </ngx-t3-descriptions>
  </ng-container>

  <ng-template #skeletonTemplate>
    <div class="tw-flex tw-flex-col tw-justify-center !tw-ml-3 tw-grow">
      <ngx-t3-skeleton class="tw-h-8 tw-mb-7 tw-w-3/4"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
    </div>
  </ng-template>

  <ng-template #redacted>
    <div class="redacted tw-text-sm">
      {{ 'i18n.Common.redacted' | translate }}
    </div>
  </ng-template>
</div>
