<div
  *ngIf="value"
  class="tw-flex tw-flex-row tw-items-center tw-py-3 tw-text-sm tw-relative"
  matRipple>
  <mat-icon
    class="tw-absolute tw-my-auto tw-inset-l-4 tw-w-4 tw-h-4 tw-text-neutral-400"
    [class.tw-rotate-90]="isOpen">
    chevron_right
  </mat-icon>
  <div
    *ngIf="value.hash | uint8 as hash"
    class="tw-pl-12 tw-box-border tw-pr-3 tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
    <ngx-t3-copy-to-clipboard
      class="tw-w-full"
      position="left"
      [textToCopy]="hash"
      (click)="$event.stopImmediatePropagation()">
      <div
        class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">
        {{ hash }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>
  <div class="tw-px-3 tw-box-border sm-col-width tw-flex tw-flex-row tw-justify-start tw-items-center">
    {{ value.size | apply : formatBytesSize : 2 }}
  </div>
  <div class="tw-px-3 tw-box-border sm-col-width tw-flex tw-flex-row tw-justify-start tw-items-center">
    <ngx-t3-tag
      *ngIf="value.hasKey"
      class="tw-bg-violet-300"
      [class.tw-mr-2]="hasKeyPair">
      {{ 'i18n.Explorer.dataKey' | translate }}
    </ngx-t3-tag>
    <ngx-t3-tag
      *ngIf="hasKeyPair"
      class="tw-bg-green-500">
      {{ 'i18n.Explorer.keyPair' | translate }}
    </ngx-t3-tag>
    <div
      *ngIf="!value.hasKey && !hasKeyPair"
      class="tw-text-sm tw-capitalize tw-text-neutral-400 tw-italic">
      {{ 'i18n.Common.none' | translate }}
    </div>
  </div>
</div>
