<div *ngIf="{
    threads: threads$ | async,
    threadSelected: threadIdSelected$ | async
  } as resolved"
  class="tw-w-full tw-h-full tw-flex tw-flex-row">
  <div class="tw-max-w-[320px] tw-min-w-[320px] tw-mr-6 tw-bg-white !tw-rounded-lg tw-border tw-border-neutral-200 tw-flex tw-flex-col">
    <app-thread-list
      [tab]="categorySelection"
      [paginator]="resolved.threads"
      [activeThreadId]="resolved.threadSelected"
      [hideSearch]="true"
      (tabClick)="categorySelection$.next($event)"
      (itemClick)="selectThread($event)">
    </app-thread-list>
  </div>
  <div
    *ngIf="resolved.threadSelected; else missingThreadsOrThreadSelection"
    class="tw-w-full tw-flex tw-flex-col tw-bg-white !tw-rounded-lg tw-border tw-border-neutral-200 tw-overflow-hidden">
    <router-outlet></router-outlet>
  </div>

  <ng-template #missingThreadsOrThreadSelection>
    <div class="tw-flex tw-flex-col tw-flex tw-items-center tw-justify-center tw-grow tw-basis-0 tw-bg-white tw-border tw-border-neutral-200 !tw-rounded-lg">
      <img
        src="/assets/images/no-messages.svg"
        alt="there are no messages"
        class="tw-mb-3">
      <div class="tw-text-base tw-text-neutral-400 tw-text-center">
        <ng-container *ngIf="resolved.threads?.total?.value === 0 && !resolved.threads?.loading?.value; else missingSelection">
          <ng-container *ngIf="categorySelection === 'all'; else missingSomeThreadCategories">
            No threads in this project
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #missingSomeThreadCategories>
  No {{ categorySelection }} threads in this project
</ng-template>

<ng-template #missingSelection>
  Select a thread in the sidebar to show the conversation
</ng-template>
