<ng-container *ngIf="{
  offchainKeys: offchainKeys$ | async,
  offchainKeysCount: ledgerAccessorService.getBlockLedger().getOffchainKeysCount()
} as resolved">
  <div class="tw-flex tw-flex-col tw-h-full !tw-rounded-lg tw-border tw-border-neutral-200">
    <div class="tw-flex tw-flex-col tw-overflow-y-auto tw-grow tw-basis-0 tw-bg-white tw-relative !tw-rounded-t-lg">
      <div class="table-header tw-sticky tw-z-10 tw-bg-white tw-inset-t-0">
        <div class="tw-grow tw-basis-0 tw-justify-start tw-pl-4">Off-chain (Hash)</div>
        <div class="tw-grow tw-basis-0 tw-justify-start tw-pl-5">Key</div>
      </div>
      <div
        *ngFor="let item of resolved.offchainKeys"
        class="tw-border-b tw-border-neutral-100 tw-flex tw-flex-row tw-py-3 tw-text-sm tw-relative tw-bg-white">
        <div class="tw-flex tw-items-center tw-justify-center tw-grow tw-basis-0 tw-truncate">
          <mat-icon
            *ngIf="!item.hasValidReference()"
            class="tw-text-orange-500 tw-absolute tw-my-auto tw-inset-0"
            matTooltip="Missing resource">
            warning
          </mat-icon>
          <div
            *ngIf="item.hash as hash"
            class="tw-pl-5 tw-lowercase tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
            <ngx-t3-copy-to-clipboard
              class="tw-w-full"
              position="left"
              [textToCopy]="hash"
              (click)="$event.stopImmediatePropagation()">
              <div class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">{{ hash }}</div>
            </ngx-t3-copy-to-clipboard>
          </div>
        </div>
        <div
          *ngIf="item.key | uint8 as key"
          class="tw-pl-5 tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
          <ngx-t3-copy-to-clipboard
            class="tw-w-full"
            position="left"
            [textToCopy]="key"
            (click)="$event.stopImmediatePropagation()">
            <div class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">{{ key }}</div>
          </ngx-t3-copy-to-clipboard>
        </div>
      </div>
      <div
        *ngIf="!resolved.offchainKeys?.length"
        class="tw-flex tw-flex-col tw-flex tw-items-center tw-justify-center tw-grow tw-basis-0 tw-bg-white tw-border-b tw-border-neutral-200">
        <img
          src="/assets/images/search-items.svg"
          alt="upload file"
          class="tw-mb-3">
        <div class="tw-h4">
          {{ 'i18n.Explorer.noOffChainKeys' | translate }}
        </div>
      </div>
    </div>
    <ngx-t3-table-paginator
      class="!tw-rounded-b-lg"
      [pageSize]="offchainKeysPageEvent.pageSize"
      [length]="resolved.offchainKeys?.length || 0"
      [total]="resolved.offchainKeysCount"
      [ofLabel]="'i18n.TablePaginator.of' | translate"
      [pageLabel]="'i18n.TablePaginator.page' | translate"
      [totalPageLabel]="'i18n.TablePaginator.perPage' | translate"
      (pageChange)="offchainKeysPageEvent = $event">
    </ngx-t3-table-paginator>
  </div>
</ng-container>
