<div class="opal-p-2">
  <div class="opal-fx-row opal-fx-align-center">
    <mat-icon
      class="opal-mr-2"
      svgIcon="company-logo">
    </mat-icon>
    <h2 class="opal-h3 opal-text-500">{{ 'Traent Blockchain' | translate }}</h2>
  </div>
  <p class="opal-mb-2 opal-h4 opal-mt-0 font-luiss-regular">
    {{ 'Traent offre soluzioni blockchain intuitive e pronte all\'uso che abilitano interazioni trasparenti tra imprese e consumatori. La tecnologia di traent supera le attuali limitazioni delle blockchain pubbliche e private. Decidi cosa pubblicare e cosa tenere riservato. Collabora in tempo reale con colleghi e partner, crea e gestisci progetti complessi utilizzando la prima piattaforma di collaborazione su blockchain.' | translate }}
  </p>

  <div>
    <a
      href="https://traent.com"
      target="_blank"
      class="opal-fx-row opal-fx-align-center">
      {{ 'Scopri di più' | translate }}
      <mat-icon class="opal-s-3">open_in_new</mat-icon>
    </a>
  </div>
</div>
