<div class="flex flex-col xl:flex-row border-1 border-t illuminem-border-grey-400 pt-12 mt-20 xl:items-start">

  <div class="flex flex-col mb-12 xl:mr-12 xl:grow xl:basis-0">
    <div class="logos flex items-center mb-6">
      <div class="illuminem py-1.5 pr-3">
        <img class="h-6" src="assets/svg/logo-illuminem-ext.svg">
      </div>

      <div class="py-1.5 pl-3">
        <div class="flex">
          <img class="h-6" src="assets/svg/logo-traent-ext.svg">
        </div>
      </div>
    </div>

    <p class="body-1">
      Browse trustable ESG data on blockchain of the biggest organizations
    </p>
  </div>

  <div class="flex flex-col xl:mr-12 xl:grow xl:basis-0">
    <a
      class="h-[52px] flex items-center illuminem-bg-blue text-white w-full mb-4"
      mat-flat-button
      href="https://illuminem.com/ESGAlliance"
      target="_blank">
      <div class="w-full flex items-center justify-between">
        <span class="button-cta1 mr-3">Join the ESG alliance</span>

        <mat-icon class="icon-16">arrow_forward</mat-icon>
      </div>
    </a>

    <a
      class="h-[52px] flex items-center illuminem-bg-light text-white w-full mb-4"
      mat-flat-button
      href="mailto: info@illuminem.com">
      <div class="w-full flex items-center justify-between">
        <span class="button-cta1 mr-3">Contact us</span>

        <mat-icon class="icon-16">arrow_forward</mat-icon>
      </div>
    </a>
  </div>

  <div class="flex flex-col xl:grow xl:basis-0">

    <a
      class="suggest flex items-center min-h-[52px] illuminem-bg-light text-white w-full mb-4"
      mat-flat-button
      href="mailto: info@illuminem.com">
      <div class="w-full flex items-center justify-between">
        <div class="text-start">
          <div class="button-cta1 mr-3">Suggest edits or report issues</div>
        </div>

        <mat-icon class="icon-16">arrow_forward</mat-icon>
      </div>
    </a>

    <a
      class="h-[52px] flex items-center w-full illuminem-bg-light text-white w-full mb-4"
      mat-flat-button
      href="https://illuminem.com/ESGAlliance"
      target="_blank">
      <div class="w-full flex items-center justify-between">

        <span class="button-cta1 mr-3">About the ESG alliance</span>

        <mat-icon class="icon-16">arrow_forward</mat-icon>
      </div>
    </a>
  </div>
</div>

<div class="mt-8 body-1">
  <span>© 2022 Illuminem and Traent srl. All rights reserved.</span>
</div>
