<div class="tw-flex tw-flex-col tw-h-full !tw-rounded-lg tw-border tw-border-neutral-200">

  <div class="tw-flex tw-flex-col tw-overflow-y-auto tw-grow tw-basis-0 tw-bg-white !tw-rounded-lg tw-relative">
    <div class="table-header tw-sticky tw-z-10 tw-bg-white tw-inset-t-0">
      <div class="tw-w-1/3 tw-justify-start tw-pl-4 tw-box-border tw-mr-2">
        {{ 'i18n.Explorer.notary' | translate }}
      </div>
      <div class="tw-grow tw-basis-0 tw-justify-start">
        {{ 'i18n.Explorer.merkleTreeRoot' | translate }}
      </div>
    </div>
    <cdk-accordion-item
      *ngFor="let notaryItem of notaryItems"
      #accordionItem="cdkAccordionItem"
      class="tw-border-b tw-block tw-border-neutral-200 tw-cursor-pointer"
      (click)="accordionItem.toggle()">
      <ng-container *ngIf="notaryItem.json$ | async as jsonData">
        <div
          *ngIf="notaryItem"
          class="tw-flex tw-flex-row tw-items-center tw-py-3 tw-text-sm tw-relative"
          matRipple>
          <div class="tw-w-1/3 tw-inline-flex tw-items-center tw-px-1">
            <mat-icon
              class="tw-w-4 tw-h-4 tw-text-neutral-400 tw-px-3"
              [class.tw-rotate-90]="accordionItem.expanded">
              chevron_right
            </mat-icon>
            <div>{{ notaryItem.name }}</div>
          </div>
          <div
            *ngIf="jsonData.merkleRoot as merkleRoot"
            class="tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
            <ngx-t3-copy-to-clipboard
              class="tw-w-full"
              position="left"
              [textToCopy]="merkleRoot"
              (click)="$event.stopImmediatePropagation()">
              <div
                class="tw-text-sm tw-truncate tw-mr-1">
                {{ merkleRoot }}
              </div>
            </ngx-t3-copy-to-clipboard>
          </div>
        </div>
        <ngx-json-viewer
          *ngIf="accordionItem.expanded"
          class="tw-border-0 tw-block tw-pl-8"
          [expanded]=false
          [json]="(notaryItem.json$ | async) || {}"
          (click)="$event.stopPropagation()"></ngx-json-viewer>
      </ng-container>
    </cdk-accordion-item>
  </div>
</div>
