<ngx-t3-sidebar-header
  class="opal-sidebar-header-container"
  [backToLabel]="'i18n.Project.ProjectPage.backProjectLog' | translate"
  (backTo)="router.navigate(['../../log'],  { relativeTo: route })">
</ngx-t3-sidebar-header>

<ng-container *ngIf="paginator$ | async as paginator">
  <ngx-t3-paginator-list
    *ngIf="{
      total: paginator.total.value$ | async,
      loading: paginator.loading.value$ | async,
      items: paginator.items.value$ | async
    } as resolved"
    class="opal-overflow-auto opal-h-full opal-pb-4"
    [paginator]="paginator">
    <app-snapshot-renderer
      *ngFor="let snapshot of resolved.items"
      [snapshot]="snapshot"></app-snapshot-renderer>
  </ngx-t3-paginator-list>
</ng-container>
