:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  --search-bar-height: 36px;
  --growing-search-bar-height: 40px;
}

.option:not(.active) {
  font-weight: normal !important;
}

.active-attach-button {
  color: theme("colors.accent.500") !important;
}

ngx-t3-growing-search-bar {
  margin: var(--thread-list-tabs-margin-y, 4px) var(--thread-list-tabs-margin-x, 4px);
}

ngx-t3-thread-item {
  padding: 0px var(--thread-list-item-padding-x, 4px);
  box-sizing: border-box;
}
