<ngx-t3-growing-search-bar
  class="tw-block"
  placeholder="Search threads"
  [hideSearch]="hideSearch"
  [(query)]="query"
  (inputToggle)="query = ''">
  <div class="tw-w-full tw-flex tw-flex-row tw-items-center tw-justify-between">
    <ngx-t3-tabs
      class="tw-capitalize"
      [(value)]="tab"
      (valueChange)="tabClick.next($event)">
      <ngx-t3-tab-item value="all">
        {{ 'i18n.Common.all' | translate }}
      </ngx-t3-tab-item>
      <ngx-t3-tab-item value="open">
        {{ 'i18n.Common.openThreads' | translate }}
      </ngx-t3-tab-item>
      <ngx-t3-tab-item value="resolved">
        {{ 'i18n.Common.resolvedThreads' | translate }}
      </ngx-t3-tab-item>
    </ngx-t3-tabs>
  </div>
</ngx-t3-growing-search-bar>

<div class="tw-h-full tw-overflow-hidden">
  <ngx-t3-paginator-list
    *ngIf="paginator"
    class="tw-h-full tw-overflow-y-auto"
    [class.tw-mt-[6.25rem]]="paginator.total.value === 0 && !paginator.loading.value"
    [paginator]="paginator">
    <ng-container *ngIf="paginator.total.value || paginator.loading.value; else noThreadItems">
      <ng-container *ngFor="let thread of paginator.items.value">
        <ngx-t3-thread-item
          class="tw-border-b tw-border-neutral-200 tw-w-full"
          [class.tw-cursor-pointer]="!!thread"
          [class.tw-bg-accent-100]="thread?.id === activeThreadId && thread?.name && thread?.createdAt"
          [name]="thread?.name"
          [showBorder]="false"
          [lastEditedAt]="(thread?.createdAt || '') | ago | titlecase"
          [resolved]="thread?.isResolved === true"
          (click)="thread && itemClick.next(thread)">
          <ngx-t3-thread-item-participants participant>
          </ngx-t3-thread-item-participants>
        </ngx-t3-thread-item>
      </ng-container>
    </ng-container>
  </ngx-t3-paginator-list>
</div>

<ng-template #noThreadItems>
  <div class="tw-text-base tw-text-neutral-400 tw-text-center">
    <ng-container *ngIf="tab === 'all'; else missingSomeThreadCategories">
      No threads in this {{ labelContext }}
    </ng-container>
  </div>
</ng-template>

<ng-template #missingSomeThreadCategories>
  No {{ tab }} threads in this {{ labelContext }}
</ng-template>
