<ngx-t3-growing-search-bar
  class="opal-d-block"
  placeholder="Search threads"
  [hideSearch]="hideSearch"
  (inputToggle)="query = ''"
  [(query)]="query">
  <div class="opal-w-full opal-fx-row opal-fx-align-center opal-fx-justify-between">
    <ngx-t3-tabs
      class="opal-text-capitalize"
      (valueChange)="tabClick.next($event)"
      [(value)]="tab">
      <ngx-t3-tab-item value="all">
        {{ 'i18n.Common.all' | translate }}
      </ngx-t3-tab-item>
      <ngx-t3-tab-item value="open">
        {{ 'i18n.Common.openThreads' | translate }}
      </ngx-t3-tab-item>
      <ngx-t3-tab-item value="resolved">
        {{ 'i18n.Common.resolvedThreads' | translate }}
      </ngx-t3-tab-item>
    </ngx-t3-tabs>
  </div>
</ngx-t3-growing-search-bar>

<div class="opal-h-full opal-overflow-hidden">
  <ngx-t3-paginator-list
    *ngIf="paginator"
    class="opal-h-full opal-overflow-y-auto"
    [class.opal-mt-25]="paginator.total.value === 0 && !paginator.loading.value"
    [paginator]="paginator">
    <ng-container *ngIf="paginator.total.value || paginator.loading.value; else noThreadItems">
      <ng-container *ngFor="let thread of paginator.items.value">
        <ngx-t3-thread-item
          class="opal-border-b-1 opal-border-grey-200 opal-w-full"
          [class.opal-pointer]="!!thread"
          [class.opal-bg-accent-100]="thread?.id === activeThreadId && thread?.name && thread?.createdAt"
          [name]="thread?.name"
          [showBorder]="false"
          [lastEditedAt]="(thread?.createdAt || '') | ago | titlecase"
          [resolved]="thread?.isResolved === true"
          (click)="thread && itemClick.next(thread)">
          <ngx-t3-thread-item-participants participant>
          </ngx-t3-thread-item-participants>
        </ngx-t3-thread-item>
      </ng-container>
    </ng-container>
  </ngx-t3-paginator-list>
</div>

<ng-template #noThreadItems>
  <div class="opal-body-1 opal-text-grey-400 opal-text-center">
    <ng-container *ngIf="tab === 'all'; else missingSomeThreadCategories">
      No threads in this {{ labelContext }}
    </ng-container>
  </div>
</ng-template>

<ng-template #missingSomeThreadCategories>
  No {{ tab }} threads in this {{ labelContext }}
</ng-template>
