mat-expansion-panel {
  border-radius: 8px !important;
  box-shadow: none !important;
  border: 1px solid theme("colors.neutral.200");

  .mat-expanded .mat-expansion-indicator:after {
    content: 'unfold_less';
    transform: translate(0deg) !important;
  }
  .mat-expansion-pane {
    box-shadow: none;
  }
  .mat-expansion-panel-header {
    font-size: inherit !important;
    padding: 0 12px;
    height: 48px !important;
  }
  .mat-expansion-indicator {
    margin-left: 8px;
    &:after {
      content: 'unfold_more';
      color: black;
      font-family: 'Material Icons';
      border-style: none;
      border-width: 0;
      display: inline-block;
      padding: 0;
      transform: none !important;
    }
  }
  .mat-expansion-panel-body {
    padding: 0 12px 12px 12px;
  }
  .mat-expansion-panel-content {
    font: inherit;
  }
}
