// Define outline form-field style
mat-form-field {
  &.auth.ng-dirty .mat-form-field-outline > div {
    background-color: theme("colors.white.500");
  }

  &.auth.mat-focused .mat-form-field-outline > div {
    background-color: theme("colors.white.500");
  }

  &.auth .mat-form-field-outline > div {
    background-color: theme("colors.neutral.100");
  }

  &.auth .mat-form-field-outline  > div {
    border-color: theme("colors.neutral.100")
  }

  &.auth.ng-invalid {
    &.ng-touched,
    &.ng-dirty {
      .mat-form-field-outline > div {
        border-color: theme("colors.warn.600")
      }
    }
  }

  &.auth.ng-valid .mat-form-field-outline  > div {
    border-color: theme("colors.neutral.200")
  }

  &.phone-prefix {
    .mat-form-field-outline {
      > div {
        background-color: var(--phone-prefix-bg, transparent);
      }
    }
    mat-select, .mat-select-value {
      color: var(--phone-prefix-text-color, black);
    }
  }
  &.no-padding {
    .mat-form-field-wrapper {
      padding: 0px;
    }
  }

  &.custom-focus.mat-focused {
    * {
      color: black !important;
    }
  }

  input, textarea {
    color: theme("colors.black.500") !important;
    width: 100%;
    height: 100%;
  }
  textarea.mat-input-element {
    padding-right: 10px;
    margin: 8px 0;
    resize: none;
  }

  .mat-form-field-infix {
    border-top: none !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    min-height: var(--mat-form-field-min-height, 50px);
  }

  // Fix the vertical centering of the default select trigger text content
  .mat-form-field-infix {
    .mat-select {
      display: flex;
    }
  }

  // Fix the height of the mat-form-field when combined with the mat-datepicker-toggle
  // Requires the `mat-form-field` element to be decorated with the `mat-form-field-date` class.
  &.mat-form-field-date {
    .mat-form-field-flex {
      height: var(--mat-form-field-min-height, 50px);
    }
  }

  // Fix vertical scrolling when using cdkTextareaAutosize
  &.autosize-field .mat-form-field-infix {
    display: block;
  }

  &.mat-form-field-appearance-outline {
    .mat-form-field-wrapper,
    .mat-form-field-flex {
      margin-top: 0 !important;
    }
    .mat-form-field-prefix,
    .mat-form-field-suffix,
    .mat-form-field-outline {
      top: 0 !important;
      align-self: center;
    }
    // Select trigger
    .mat-select-trigger {
      vertical-align: middle;
      .mat-select-arrow-wrapper {
        transform: none !important;
      }
    }
  }

  // Fix outline form-field with mat-chip-list
  &.mat-form-field-type-mat-chip-list {
    .mat-form-field-infix {
      padding: 1em 0 1em 0 !important;
      min-height: auto;
      overflow-x: hidden;
    }
  }

}

.mat-form-field-appearance-outline {

    // Transparent background
  &.transparent .mat-form-field-outline {
    > div {
      background-color: transparent;
    }
  }

  // Default white background
  .mat-form-field-outline {
    > div {
      background-color: theme("colors.white.500");
    }
  }

  // Controls with inset label
  &.mat-form-field-has-label.mat-form-field-should-float {
    input, textarea, .mat-select-value {
      border-top: solid 12px transparent !important;
    }

    input + .mat-form-field-label-wrapper, mat-select + .mat-form-field-label-wrapper {
      overflow: visible !important;
      top:  0 !important;
      padding: 0 !important;
      top: 50% !important;
      margin-top: -9px;
      .mat-form-field-label {
        top: 0;
        margin: 0;
      }
    }

    .mat-form-field-outline-gap {
      display: none !important;
    }
  }

  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.5em) scale(0.75) !important;
  }
  .mat-form-field-wrapper {
    .mat-form-field-subscript-wrapper {
      overflow: visible !important;
    }
  }
}
