mat-select.mat-select {
  .mat-select-arrow-wrapper {
    > .mat-select-arrow {
      display: none;
    }
    &:after {
      content: 'expand_more';
      font-family: 'Material Icons';
      font-size: 14px;
      height: 14px;
      width: 14px;
      color: inherit;
    }
  }
  &[aria-expanded="true"] .mat-select-arrow-wrapper:after {
    content: 'expand_less';
  }
}

// mat-select within a form field
mat-form-field mat-select.mat-select {
  line-height: 2.4;
  .mat-select-arrow-wrapper:after {
    font-size: 20px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    line-height: initial;
  }
  .mat-select-value, .mat-select-placeholder:not(.mat-select-min-line) {
    vertical-align: middle;
  }

  position: relative;
  // Trick for nicely ease in the dropdown panel
  &[aria-expanded="true"]:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -15px;
    height: 4px;
    width: 100%;
    border: 2px solid black;
    border-top: 0;
    background: white;
    min-width: calc(100% + 20px);
    left: -12px;
  }
}

// mat-select outside a form field
mat-select.mat-select:not(mat-form-field mat-select) {
  width: auto;
  .mat-select-value {
    font-size: 14px;
    color: inherit;
    display: block;
    max-width: max-content;
    margin-right: 8px;
    margin-top: -1px;
  }
}

// mat-select panel within a form field
.mat-select-panel.has-form-field {
  border: solid 2px black;
  border-top: 0;
  border-radius: 0px 0px 4px 4px !important;
  box-shadow: none !important;
  min-width: calc(100% + 20px) !important;
  transform: scaleY(1) translate(4px, 33px) !important;
  position: relative;
  .mat-option:not(:first-of-type) {
    border-top: 1px solid theme("colors.neutral.200");
  }
}

// mat-select panel outside a form field
.mat-select-panel:not(.has-form-field) {
  font-size: 14px !important;
  box-shadow: 0px 0px 7px 1px rgba(136, 152, 167, 0.35) !important;
}

mat-select.disabled {
  color: theme("colors.neutral.200");

  .mat-select-placeholder {
    color: theme("colors.neutral.200");
  }
}

mat-select {
  &.mat-select-disabled {
    opacity: .5;
  }
}
