mat-radio-button {
  &.accent {
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: theme("colors.accent.500");
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
      color: theme("colors.accent.500");
      background-color: theme("colors.accent.500") ;
    }
    .mat-radio-outer-circle {
      border-color: theme("colors.black.500");
    }
    .mat-radio-container {
      height: 16px;
      width: 16px;
    }
    .mat-radio-outer-circle {
      height: 16px;
      width: 16px;
    }
    .mat-radio-inner-circle {
      height: 16px;
      width: 16px;
    }
  }
}
