// Fix mat-datepicker active foreground color (black on black)
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: theme("colors.neutral.200");
}

.mat-calendar-body-selected {
  background-color: theme("colors.neutral.200");
  color: black;
}

.mat-calendar-body-in-range::before {
  background: theme("colors.neutral.200");
}
