mat-slide-toggle .mat-slide-toggle-bar {
  background: theme("colors.neutral.200") !important;
  height: 12px;
  .mat-slide-toggle-thumb-container {
    top: -4px;
  }
  .mat-ripple-element {
    display: none;
  }
}
