<div class="tw-h-full tw-overflow-hidden">
  <ngx-t3-paginator-list
    *ngIf="paginator"
    class="tw-h-full tw-overflow-y-auto tw-box-border tw-py-3"
    [class.tw-mt-[6.25rem]]="paginator.total.value === 0 && !paginator.loading.value"
    [paginator]="paginator">
    <ng-container *ngIf="paginator.total.value || paginator.loading.value; else noStreamItems">
      <ng-container *ngFor="let stream of paginator.items.value">
        <app-stream-item
          class="tw-mb-2 tw-mx-3"
          [stream]="stream"
          (click)="stream && itemClick.next(stream)">
        </app-stream-item>
      </ng-container>
    </ng-container>
  </ngx-t3-paginator-list>
</div>

<ng-template #noStreamItems>
  <div class="tw-text-base tw-text-neutral-400 tw-text-center">
    {{ 'i18n.Common.noStreams' | translate }}
  </div>
</ng-template>


