<div class="opal-h-full opal-overflow-hidden">
  <ngx-t3-paginator-list
    *ngIf="paginator"
    class="opal-h-full opal-overflow-y-auto opal-border-box opal-py-3"
    [class.opal-mt-25]="paginator.total.value === 0 && !paginator.loading.value"
    [paginator]="paginator">
    <ng-container *ngIf="paginator.total.value || paginator.loading.value; else noStreamItems">
      <ng-container *ngFor="let stream of paginator.items.value">
        <app-stream-item
          class="opal-mb-2 opal-mx-3"
          [stream]="stream"
          (click)="stream && itemClick.next(stream)">
        </app-stream-item>
      </ng-container>
    </ng-container>
  </ngx-t3-paginator-list>
</div>

<ng-template #noStreamItems>
  <div class="opal-body-1 opal-text-grey-400 opal-text-center">
    {{ 'i18n.Common.noStreams' | translate }}
  </div>
</ng-template>


