<div
  *ngIf="status; else skeleton"
  class="opal-fx-row opal-fx-center"
  [matTooltip]="'i18n.Common.acknowledgementsDetails' | translate">
  <mat-icon
    *ngIf="status === AcknowledgementStatus.NONE"
    class="opal-pointer opal-text-red"
    svgIcon="ack-error"></mat-icon>
  <mat-icon
    *ngIf="status === AcknowledgementStatus.PARTIAL"
    class="opal-pointer opal-text-orange-500"
    svgIcon="ack-incomplete"></mat-icon>
  <mat-icon
    *ngIf="status === AcknowledgementStatus.COMPLETE"
    class="opal-pointer opal-text-green"
    svgIcon="ack-ok"></mat-icon>
</div>

<ng-template #skeleton>
  <ngx-t3-skeleton></ngx-t3-skeleton>
</ng-template>
