<div
  *ngIf="status; else skeleton"
  class="tw-flex tw-flex-row tw-flex tw-items-center tw-justify-center"
  [matTooltip]="'i18n.Common.acknowledgementsDetails' | translate">
  <mat-icon
    *ngIf="status === AcknowledgementStatus.NONE"
    class="tw-cursor-pointer tw-text-red"
    svgIcon="ack-error"></mat-icon>
  <mat-icon
    *ngIf="status === AcknowledgementStatus.PARTIAL"
    class="tw-cursor-pointer tw-text-orange-500"
    svgIcon="ack-incomplete"></mat-icon>
  <mat-icon
    *ngIf="status === AcknowledgementStatus.COMPLETE"
    class="tw-cursor-pointer tw-text-green"
    svgIcon="ack-ok"></mat-icon>
</div>

<ng-template #skeleton>
  <ngx-t3-skeleton></ngx-t3-skeleton>
</ng-template>
