<ngx-t3-with-sidebar *ngIf="{
  author: author$ | async,
  blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async,
  defaultZoom:  (defaultZoom$ | async) || 1,
  document: document$ | async,
  documentContent: documentContent$ | async,
  project: project$ | async,
  references: references$ | async
} as resolved">
  <ng-container
    *ngIf="resolved.document"
    sidebar>
    <div class="tw-px-4">
      <div
        class="back-to tw-h5"
        [routerLink]=" resolved.project  ? ['/project'] : null">
        <span
          class="tw-truncate tw-text-neutral-400"
          [matTooltip]="resolved.project && (resolved.project.name | exportedAndDefined)
            ? resolved.project.name
            : ''">
          {{ resolved.project?.name || 'Back' }}
        </span>
      </div>

      <h1 class="tw-h3 tw-my-3 tw-break-words">{{ resolved.document.name }}</h1>
    </div>

    <hr>

    <div class="tw-px-4 tw-py-3">
      <div class="menu-item">
        <button
          mat-button
          (click)="resolved.documentContent && downloadDocument(resolved.document, resolved.documentContent)">
          <mat-icon svgIcon="download"></mat-icon>
          {{ 'i18n.Common.download' | translate }}
        </button>
      </div>

      <div class="menu-item">
        <button
          mat-button
          queryParamsHandling="merge"
          routerLink="../versions">
          <div class="tw-flex tw-flex-row tw-items-center">
            <div class="versions-chip">
              {{ resolved.document.version || '0' }}
            </div>
            {{ 'i18n.Document.DocumentContent.versionHistory' | translate }}
          </div>
        </button>
      </div>
    </div>

    <hr>

    <div class="tw-px-4 tw-pb-3">
      <ng-template #redacted>
        <div class="redacted tw-text-sm !tw-ml-3">
          {{ 'i18n.Common.redacted' | translate }}
        </div>
      </ng-template>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.author' | translate }}</label>
        <app-participant-identity
          size="xs"
          [participant]="resolved.author"></app-participant-identity>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.created' | translate }}</label>
        <span>
          {{ resolved.document.createdAt | date : 'dd MMM YYYY, HH:mm' }}
        </span>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">last edit</label>
        <span>
          {{ resolved.document.updatedAt | date : 'dd MMM YYYY, HH:mm' }}
        </span>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.lastLinkHash' | translate }}</label>
        <div class="tw-flex tw-flex-row tw-items-center">
          <ngx-t3-copy-to-clipboard
            class="tw-w-full"
            position="left"
            copiedTooltip="Copied"
            tooltip="Click to copy"
            [textToCopy]="resolved.document.updatedInBlock.linkHash | uint8">
            <div class="tw-text-sm tw-truncate tw-font-code tw-underline tw-mr-1">
              {{ resolved.document.updatedInBlock.linkHash | uint8 }}
            </div>
          </ngx-t3-copy-to-clipboard>
        </div>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.type' | translate }}</label>
        <ngx-t3-tag
          class="tw-bg-blue-200 tw-w-fit"
          [chip]="false">
          {{ resolved.document.extension }}
        </ngx-t3-tag>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.size' | translate }}</label>
        <span *ngIf="resolved.document.length | exported; else redacted">
          {{  (resolved.document.length || 0) | apply : formatBytesSize }}
        </span>
      </div>

      <div class="tw-flex tw-flex-col tw-mt-5">
        <label class="tw-shrink-0 tw-t3-text-overline tw-mb-1 tw-text-neutral-400">{{ 'i18n.Common.acknowledgements' | translate }}</label>
        <app-acks-status
          class="tw-self-start"
          [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
          (click)="openAcknowledgementsDialog(resolved.document.updatedInBlock)">
        </app-acks-status>
      </div>
    </div>
  </ng-container>

  <div
    class="tw-w-full tw-h-full tw-relative tw-bg-neutral-100"
    [class.tw-overflow-hidden]="contentLoad === 'loading'">
    <ngx-t3-spinner-context *ngIf="contentLoad === 'loading' && resolved.document && resolved.document.uiType !== DocumentContentType.Generic">
      <p
        class="!tw-mt-8 tw-h4"
        after>
        {{ 'i18n.Document.DocumentContent.loadingContent' | translate }}
      </p>
    </ngx-t3-spinner-context>

    <div
      *ngIf="resolved.document && (resolved.document.uiType === DocumentContentType.Generic || contentLoad === 'error'); else specificViewers"
      class="tw-w-full tw-h-full tw-p-5 tw-box-border">
      <ngx-t3-generic-viewer
        class="tw-w-full tw-h-full !tw-rounded-lg tw-bg-white tw-bg-opacity-60"
        [name]="resolved.document.name"
        [fileTypeExtension]="resolved.document.extension"
        (contentLoad)="contentLoad = 'loaded'"
        (download)="resolved.documentContent && downloadDocument(resolved.document, resolved.documentContent)">
      </ngx-t3-generic-viewer>
    </div>

    <ng-template #specificViewers>
      <ng-container *ngIf="resolved.document && resolved.document.uiType === DocumentContentType.PDF">
        <ngx-t3-pdf-viewer
          *ngIf="documentDocumentProxy$ | async as pdfDocumentProxy"
          #viewer
          class="tw-h-full"
          [annotationsRendering]="false"
          [data]="pdfDocumentProxy"
          [zoom]="documentZoom || resolved.defaultZoom"
          (contentLoad)="contentLoad = 'loaded'"
          (layoutChange)="pageRects = $event">

          <ng-container *ngIf="resolved.references">
            <ng-container *ngFor="let reference of resolved.references | apply : orderReferences; trackBy: trackByIndex">
              <ngx-t3-pdf-anchor
                *ngIf="reference.anchor as anchor"
                [pages]="pageRects"
                [anchor]="anchor">
                <ng-container *ngIf="reference | apply : deriveStreamEntry | async as uiStream">
                  <ngx-t3-pdf-acrofield-control
                    *ngIf="reference.anchor | apply : makeAcrofieldFromAnchor as acrofield"
                    [zoom]="documentZoom || resolved.defaultZoom"
                    [editable]="false"
                    [type]="acrofield.fieldType"
                    [allowedValues]="uiStream.configuration?.allowedValues"
                    [value]="getPDFAcrofieldControlValue(acrofield, uiStream.value)">
                  </ngx-t3-pdf-acrofield-control>
                </ng-container>
              </ngx-t3-pdf-anchor>
            </ng-container>
          </ng-container>

          <ngx-t3-viewer-toolbar
            toolbar
            class="tw-mx-auto"
            [data]="pdfDocumentProxy"
            [zoom]="documentZoom || resolved.defaultZoom"
            [page]="viewer.getCurrentPage() | async"
            [showAnchors]="false"
            (zoomChange)="documentZoom = $event"
            (selectPage)="viewer.scrollToPage($event)">
          </ngx-t3-viewer-toolbar>
        </ngx-t3-pdf-viewer>
      </ng-container>

      <div
        *ngIf="resolved.document && resolved.document.uiType === DocumentContentType.FORM"
        class="tw-w-full tw-h-full tw-border-box">
        <app-form-viewer
          class="tw-w-full tw-h-full !tw-rounded-lg tw-bg-white/60"
          [documentId]="resolved.document.id"
          [data]="resolved.documentContent | apply : u8ToBlob"
          [name]="resolved.document.name"
          (contentLoad)="contentLoad = 'loaded'">
        </app-form-viewer>
      </div>

      <ngx-t3-image-viewer
        *ngIf="resolved.document && resolved.document.uiType === DocumentContentType.Image"
        class="tw-w-full tw-h-full"
        [data]="resolved.documentContent | apply : u8ToBlob"
        [zoom]="documentZoom || resolved.defaultZoom"
        (contentLoad)="contentLoad = 'loaded'">
        <ngx-t3-viewer-toolbar
          *ngIf="contentLoad === 'loaded'"
          toolbar
          [zoom]="documentZoom || resolved.defaultZoom"
          (zoomChange)="documentZoom = $event">
        </ngx-t3-viewer-toolbar>
      </ngx-t3-image-viewer>

      <ngx-t3-video-viewer
        *ngIf="resolved.document && resolved.document.uiType === DocumentContentType.Video"
        [data]="resolved.documentContent | apply : u8ToBlob"
        (contentLoad)="contentLoad = 'loaded'"
        (contentError)="contentLoad = 'error'">
        <div video-name>{{ resolved.document.name }}</div>
        <div
          *ngIf="resolved.blockAcknowledgementsInfo"
          video-info
          class="tw-flex tw-flex-row tw-shrink-0 tw-items-center">
          <app-participant-avatar-group
            class="tw-border-neutral"
            size="xs"
            [participant]="resolved.author"></app-participant-avatar-group>
          <button
            mat-icon-button
            class="tw-ml-2"
            (click)="openAcknowledgementsDialog(resolved.document.updatedInBlock)">
            <app-acks-icon [status]="resolved.blockAcknowledgementsInfo.status"></app-acks-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Copy hash"
            ngxT3ClickToCopy="{{ resolved.document.updatedInBlock.linkHash | uint8 }}">
            <mat-icon class="tw-text-neutral-400">fingerprint</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="resolved.documentContent && downloadDocument(resolved.document, resolved.documentContent)">
            <mat-icon
              class="tw-text-neutral-400"
              svgIcon="download"></mat-icon>
          </button>
        </div>
      </ngx-t3-video-viewer>

      <app-view-viewer
        *ngIf="resolved.document && resolved.document.uiType === DocumentContentType.View"
        class="tw-w-full tw-h-full"
        [documentId]="resolved.document.id"
        (contentLoad)="contentLoad = 'loaded'">
      </app-view-viewer>
    </ng-template>
  </div>

  <ngx-t3-right-sidebar
    rightbar
    [showHandle]="false"
    [open]="true">
    <router-outlet></router-outlet>
  </ngx-t3-right-sidebar>
</ngx-t3-with-sidebar>
