.back-to {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  &:before {
    font-size: 18px;
    content: "chevron_left";
    font-family: "Material Icons";
    line-height: 18px;
    width: 18px;
    min-width: 18px;
    display: block;
    text-align: center;
    border-radius: 18px;
    margin-right: 8px;
    color: theme("colors.grey.400");
  }
}
