<div class="opal-radius-24 opal-border-1 opal-border-grey-200 opal-p-1 opal-fx-col">
  <button mat-icon-button>
    <mat-icon
      svgIcon="twitter"
      appSocialShare="tw"
      [url]="url">
    </mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon
      svgIcon="facebook"
      appSocialShare="fb"
      [url]="url">
    </mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon
      svgIcon="linkedin"
      appSocialShare="in"
      [url]="url">
    </mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon
      class="opal-text-none"
      [ngxT3ClickToCopy]="url">
      link
    </mat-icon>
  </button>
</div>
