<div class="topbar tw-flex tw-flex-row tw-items-center tw-justify-between tw-pr-6">
  <ngx-t3-app-switcher
    class="tw-py-3 tw-px-2"
    [class.no-menu]="!showHeader"
    [identityProps]="{ url: env.urls.id + '/private/account' }"
    [organizationsProps]="{ url: env.urls.id + '/private/organizations' }"
    [eraProps]="{ url: env.urls.era }"
    [viewerProps]="{ url: env.urls.viewer, selected: true }">
    <ngx-t3-app-logo
      app-logo
      appName="traent"
      appNameSecondary="viewer"
      [clickable]="false"
      [logoColor]="logoColor">
    </ngx-t3-app-logo>
    <ngx-t3-app-terms-and-conditions
      app-footer
      class="tw-grow"
      [privacyPolicy]="{
        privacyPolicyUrl: env.privacyPolicyUrl,
        termsAndConditionsUrl: env.termsAndConditionsUrl
      }">
    </ngx-t3-app-terms-and-conditions>
  </ngx-t3-app-switcher>

  <div class="tw-flex tw-flex-row tw-items-center tw-h-full">
    <div
      *ngIf="ledgerService.hasErrors"
      class="tw-flex tw-items-center tw-bg-red-100 !tw-rounded tw-p-3 !tw-mr-5 tw-h-10 tw-box-border tw-cursor-default"
      [matTooltip]="'i18n.Toolbar.errorLedger' | translate">
      <mat-icon class="tw-w-4 tw-h-4 tw-text-red-500">error</mat-icon>
    </div>
    <div
      *ngIf="!ledgerService.hasErrors && ledgerService.hasWarnings"
      class="tw-flex tw-items-center tw-bg-yellow-100 !tw-rounded tw-p-3 !tw-mr-5 tw-h-10 tw-box-border tw-cursor-default"
      [matTooltip]="'i18n.Toolbar.warningLedger' | translate">
      <mat-icon class="tw-w-4 tw-h-4 tw-text-orange-500">warning</mat-icon>
    </div>

    <div
      *ngIf="{
        user: identityService.user$ | async,
        isPopupClosed: identityService.isPopupClosed$ | async
      } as resolved"
      class="tw-flex tw-flex-row tw-items-center tw-h-full">
      <button
        *ngIf="showHeader && resolved.user === undefined"
        mat-flat-button
        color="accent"
        class="login-btn"
        [disabled]="!resolved.isPopupClosed"
        [class.white-stroked]="whiteStroked"
        (click)="identityService.login()">
        {{ 'i18n.Toolbar.logIn' | translate }}
      </button>
      <ng-container *ngIf="resolved.user">
        <div
          #userOverlay="cdkOverlayOrigin"
          class="tw-flex tw-flex-row tw-items-center tw-cursor-pointer"
          cdkOverlayOrigin
          (click)="showUserOverlay = true">
          <span class="tw-mr-3">{{ resolved.user.fullName }}</span>
          <ngx-t3-avatar
            size="sm"
            [src]="resolved.user.avatar"></ngx-t3-avatar>
        </div>
        <ng-template
          cdkConnectedOverlay
          cdkConnectedOverlayBackdropClass="bg-transparent"
          [cdkConnectedOverlayPositions]="userOverlayPosition"
          [cdkConnectedOverlayOrigin]="userOverlay"
          [cdkConnectedOverlayOpen]="showUserOverlay"
          [cdkConnectedOverlayHasBackdrop]="showUserOverlay"
          (backdropClick)="showUserOverlay = false">
          <div class="user-overlay tw-bg-white tw-border tw-border-neutral-200 !tw-rounded tw-shadow-1">
            <div class="tw-flex tw-flex-col tw-items-center tw-p-3 tw-border-b tw-border-neutral-100">
              <ngx-t3-avatar
                size="md"
                [src]="resolved.user.avatar"></ngx-t3-avatar>
              <div class="tw-flex tw-flex-row tw-items-center name tw-mt-3">
                <span class="tw-block tw-truncate tw-mr-1 tw-font-medium tw-h4">{{ resolved.user.fullName }}</span>
                <ngx-t3-identity-validation
                  size="sm"
                  [userValidation]="resolved.user.validation?.state | identityValidation : 'user'"></ngx-t3-identity-validation>
              </div>
            </div>
            <button
              class="tw-w-full tw-text-left tw-h-12 tw-text-neutral"
              mat-flat-button
              (click)="identityService.requestUILogout()">
              <mat-icon>logout</mat-icon>
              <span class="tw-normal-case tw-font-medium">{{ 'i18n.Toolbar.logOut' | translate }}</span>
            </button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
