<div class="tw-grow tw-flex tw-flex-row tw-overflow-hidden tw-w-full tw-h-full">
  <div class="tw-overflow-y-hidden tw-overflow-x-auto tw-flex tw-flex-row tw-w-full">
    <main class="tw-flex tw-flex-col tw-grow tw-bg-neutral-100 tw-overflow-y-hidden tw-overflow-x-auto">
      <div
        *ngIf="title$ | async; else titleSkeleton"
        class="tw-flex tw-items-center tw-h2 tw-px-12 !tw-pt-5 tw-pb-4 tw-truncate">
        <div
          *ngIf="canNavigateLedgerSelection"
          class="tw-flex tw-items-center tw-mr-2 tw-cursor-pointer"
          [matTooltip]="'i18n.Project.ProjectPage.LedgerSelection.tooltip' | translate"
          (click)="navigateToLedgerSelection()">
          <mat-icon
            class="tw-h6 tw-mr-[9px] tw-text-grey-4"
            svgIcon="agreements"></mat-icon>
          <mat-icon class="tw-h-6 tw-w-6 tw-text-grey-4">chevron_right</mat-icon>
        </div>
        <div>{{ title$ | async }}</div>
      </div>
      <ng-template #titleSkeleton>
        <ngx-t3-skeleton class="tw-mx-12 tw-mt-5 tw-mb-4 tw-h-7 tw-w-50 tw-block"></ngx-t3-skeleton>
      </ng-template>

      <div class="tw-flex tw-flex-row tw-items-center tw-mb-4 tw-px-12">
        <ngx-t3-tabs class="tw-capitalize tw-mr-6">
          <ngx-t3-tab-item
            *ngIf="defaultPage$ | async as defaultPage"
            class="tw-font-medium"
            value="dashboard"
            (click)="navigateToDefaultPage(defaultPage)">
            <mat-icon class="tw-w-4 tw-h-4 tw-mr-1 material-icons-outlined">dashboard</mat-icon>
            {{ 'i18n.Common.dashboard' | translate }}
          </ngx-t3-tab-item>
          <ngx-t3-tab-item
            class="tw-font-medium"
            value="documents"
            routerLinkActive="active"
            routerLink="/project/documents"
            queryParamsHandling="merge">
            <mat-icon class="tw-w-4 tw-h-4 tw-mr-1 material-icons-outlined">description</mat-icon>
            {{ 'i18n.Common.docs' | translate }}
          </ngx-t3-tab-item>
          <ngx-t3-tab-item
            class="tw-font-medium"
            value="streams"
            routerLinkActive="active"
            routerLink="/project/streams"
            queryParamsHandling="merge">
            <mat-icon
              class="tw-w-4 tw-h-4 tw-mr-1"
              svgIcon="stream-overview"></mat-icon>
            {{ 'i18n.Common.streams' | translate }}
          </ngx-t3-tab-item>
          <ngx-t3-tab-item
            class="tw-font-medium"
            value="threads"
            routerLinkActive="active"
            routerLink="/project/threads"
            queryParamsHandling="merge">
            <mat-icon class="tw-w-4 tw-h-4 tw-mr-1 material-icons-outlined">forum</mat-icon>
            {{ 'i18n.Common.threads' | translate }}
          </ngx-t3-tab-item>
        </ngx-t3-tabs>
      </div>

      <div class="tw-basis-0 tw-grow tw-px-12 tw-py-6 tw-border-t tw-border-neutral-200 tw-flex tw-flex-col tw-overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <ngx-t3-right-sidebar
    *ngIf="{ showSidebar: (showSidebar$ | async) } as sidebar"
    [open]="sidebar.showSidebar ?? false"
    (openChange)="rightSidebarManagerService.setShowSidebarPreference(!sidebar.showSidebar)">
    <router-outlet name="aside"></router-outlet>
  </ngx-t3-right-sidebar>
</div>
