<h2
  mat-dialog-title
  class="tw-mb-0 tw-font-bold">
  {{ 'i18n.Common.acknowledgements' | translate }}
</h2>

<div class="tw-my-6 tw-p-3 tw-flex tw-flex-col tw-bg-neutral-100 !tw-rounded-lg">
  <div class="tw-mb-4">
    <h4 class="tw-m-0">
      {{ 'i18n.Common.blockInfo' | translate }}
    </h4>
  </div>

  <div class="block-info-row tw-flex tw-flex-row">
    <label class="tw-t3-text-overline">{{ 'i18n.Common.index' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="right"
      [textToCopy]="block.index + ''">
      <div class="tw-mr-1">{{ block.index }}</div>
    </ngx-t3-copy-to-clipboard>
  </div>

  <hr class="tw-w-full tw-my-3">

  <div class="block-info-row tw-h-auto tw-flex tw-flex-row">
    <label class="tw-t3-text-overline">{{ 'i18n.Common.hash' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="left"
      [textToCopy]="block.linkHash | uint8">
      <div class="tw-text-left tw-font-code tw-break-all tw-mr-1">{{ block.linkHash | uint8 }}</div>
    </ngx-t3-copy-to-clipboard>
  </div>

  <hr class="tw-w-full tw-my-3">

  <div class="block-info-row tw-flex tw-flex-row tw-items-center tw-mb-1">
    <label class="tw-t3-text-overline">{{ 'i18n.Common.created' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="left"
      [textToCopy]="(block.createdAt | date : 'd MMM YYYY, HH:mm') || ''">
      <div class="tw-mr-1">
        {{ block.createdAt | date : 'd MMM YYYY, HH:mm' }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>
</div>

<h4 class="tw-mt-0 tw-mb-2">
  {{ 'i18n.Common.acknowledgements' | translate }}
</h4>

<div class="tw-flex tw-flex-row tw-p-2 tw-border-b tw-border-neutral-200">
  <span class="org-info-col tw-t3-text-overline tw-mr-2">
    {{ 'i18n.Common.organization' | translate }}
  </span>
  <span class="hash-col tw-grow tw-t3-text-overline tw-mr-2">{{ 'i18n.Common.hash' | translate }}</span>
  <span class="date-info-col tw-t3-text-overline">{{ 'i18n.Common.date' | translate }}</span>
</div>

<mat-dialog-content class="ack-dialog-content">
  <ng-container *ngFor="let record of acks$ | async">
    <div class="tw-flex tw-flex-row tw-items-center tw-border-neutral-200 tw-border-b tw-py-3 tw-px-2">
      <div
        *ngIf="{ profile: record.organization$ | async } as resolved"
        class="org-info-col tw-flex tw-flex-row tw-items-center tw-mr-2">
        <ngx-t3-organization-identity
          size="xs"
          [src]="resolved.profile && resolved.profile.logo"
          [firstLine]="resolved.profile && resolved.profile.businessName || 'Anonymous'"></ngx-t3-organization-identity>
      </div>

      <ng-container *ngIf="record.ack else pending">
        <ng-container *ngIf="record.block$ | async as recordBlock">
          <div class="hash-col tw-mr-2 tw-grow tw-shrink-0">
            <div
              *ngIf="recordBlock; else pending"
              class="tw-grow tw-flex tw-flex-row tw-items-center">
              <ngx-t3-copy-to-clipboard
                class="tw-w-full"
                position="left"
                [textToCopy]="recordBlock.linkHash | uint8">
                <div class="tw-underline tw-truncate tw-mr-1">{{ recordBlock.linkHash | uint8 }}</div>
              </ngx-t3-copy-to-clipboard>
            </div>
          </div>

          <div class="date-info-col tw-shrink-0">
            <span *ngIf="recordBlock; else pending">
              {{ recordBlock.createdAt | date : 'd MMM YYYY, HH:mm' }}
            </span>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #pending>
        <div class="hash-col tw-mr-2 tw-grow tw-shrink-0 tw-text-neutral-400">{{ 'i18n.Common.pending' | translate }}</div>
      </ng-template>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions
  class="tw-py-6"
  align="center">
  <button
    color="accent"
    mat-dialog-close
    mat-flat-button
    type="button">
    {{ 'i18n.Common.done' | translate }}
  </button>
</mat-dialog-actions>
