<ng-container *ngIf="{
  assignee: assignee$ | async,
  editor: editor$ | async,
  blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async
} as resolved">
  <h2
    mat-dialog-title
    class="opal-mb-0">
    {{ 'i18n.Common.threadDetails' | translate }}
  </h2>

  <div
    class="opal-my-6"
    mat-dialog-content>
    <ngx-t3-descriptions class="opal-border-1 opal-radius-4 opal-border-grey-200">
      <ng-template #redacted>
        <div class="redacted">{{ 'i18n.Common.redacted' | translate }}</div>
      </ng-template>

      <ngx-t3-description-item
        [label]="'i18n.Common.topic' | translate"
        [multiline]="true">
        <ng-container *ngIf="thread.name | exportedAndDefined; else redacted">{{ thread.name }}</ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.status' | translate">
        <ng-container *ngIf="thread.isResolved | exported; else redacted">
          {{ thread.isResolved ? 'Resolved' : 'Open' }}
        </ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="thread.assigneeId !== undefined"
        [label]="'i18n.Common.assignee' | translate">
        <app-participant-identity [participant]="resolved.assignee"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.edit' | translate">
        <ng-container *ngIf="thread.updatedAt !== undefined; else redacted">
          {{ thread.updatedAt | date : 'd LLL y, HH:mm' }}
        </ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.editor' | translate">
        <app-participant-identity [participant]="resolved.editor"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.linkHash' | translate">
        <ngx-t3-copy-to-clipboard
          class="opal-d-block opal-ellipsed"
          position="left"
          [textToCopy]="thread.updatedInBlock.linkHash | uint8">
          <div class="opal-body-2 opal-ellipsed opal-text-code opal-text-underline opal-mr-1">
            {{ thread.updatedInBlock.linkHash | uint8 }}
          </div>
        </ngx-t3-copy-to-clipboard>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.acks' | translate"
        [hasDivider]="false">
        <span class="opal-body-2 opal-d-block opal-ellipsed opal-text-code opal-text-underline">
          <app-acks-status
            [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
            (click)="openAcknowledgementsDialog(thread.updatedInBlock)"></app-acks-status>
        </span>
      </ngx-t3-description-item>
    </ngx-t3-descriptions>
  </div>

  <mat-dialog-actions>
    <button
      mat-stroked-button
      mat-dialog-close
      class="opal-mr-2"
      [routerLink]="['/project/threads', { outlets: { primary: [thread.id], aside: [thread.id] } }]">
      {{ 'i18n.Common.viewThread' | translate }}
    </button>
    <button
      mat-flat-button
      mat-dialog-close
      color="accent">
      {{ 'i18n.Common.close' | translate }}
    </button>
  </mat-dialog-actions>
</ng-container>
