<ng-container *ngIf="paginator$ | async as paginator">
  <ngx-t3-paginator-list
    *ngIf="{
      total: paginator.total.value$ | async,
      loading: paginator.loading.value$ | async,
      items: paginator.items.value$ | async
    } as resolved"
    class="opal-overflow-auto opal-h-full"
    [class.opal-mt-25]="resolved.total === 0 && !resolved.loading"
    [paginator]="paginator">
    <app-snapshot-renderer
      *ngFor="let snapshot of resolved.items"
      [snapshot]="snapshot"></app-snapshot-renderer>
  </ngx-t3-paginator-list>
</ng-container>

