<div
  *ngIf="{ params: params$ | async }"
  class="tw-w-full tw-h-full tw-overflow-y-auto"
  (ngxT3FileDrop)="!process && startLocalFileLoad($event)">
  <app-topbar
    logoColor="white"
    [whiteStroked]="true">
  </app-topbar>

  <ng-container *ngIf="!process">
    <div class="landing">
      <div class="form-column">
        <div class="form-container">
          <div class="title">{{ 'i18n.Home.title' | translate }}</div>
          <p
            class="subtitle"
            [innerHtml]="'i18n.Home.subtitle' | translate | safeHtml">
          </p>
          <a
            class="subtitle"
            href="https://www.traent.com">
            {{ 'i18n.Home.link' | translate }}
          </a>
          <div class="interaction-box">
            <div
              *ngIf="!showUrlInput"
              class="buttons-container"
              @buttons>
              <button
                matRipple
                class="custom-btn upload"
                (click)="fileInput.click()">
                <span>{{ 'i18n.Home.upload' | translate }}</span>
              </button>
              <input
                #fileInput
                hidden
                type="file"
                (change)="startLocalFileLoad($any($event.target))">
              <button
                matRipple
                class="custom-btn url"
                (click)="showUrlInput = true">
                {{ 'i18n.Home.enterURL' | translate }}
              </button>
            </div>
            <app-remote-uploader
              *ngIf="showUrlInput"
              @urlInput
              (urlOpen)="loadData($event)"
              (inputClose)="showUrlInput = false"></app-remote-uploader>
          </div>

          <div class="tip">
            {{ 'i18n.Home.chooseLedger' | translate }}
          </div>
        </div>
      </div>
      <app-carousel></app-carousel>
    </div>
    <div class="dropzone">
      <div class="box">
        {{ 'i18n.Home.dropLedger' | translate }}
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="process"
    class="upload">
    <div class="central-column">
      <ng-container *ngIf="!error">
        <svg
          class="spinner"
          viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10">
          </circle>
        </svg>
        <!-- TODO: FIXME -->
        <!-- <div
          *ngIf="fancyMessages$ | async as fancyMessages"
          class="main-content">
          {{ fancyMessages | translate }}
        </div> -->
        <div class="main-content">
          <span class="tw-font-brand tw-font-medium">{{ 'i18n.Home.loadingTitle' | translate }}</span>
          <div class="wait tw-font-normal">{{ 'i18n.Home.wait' | translate }}</div>
        </div>
        <button
          *ngIf="showCancelUpload"
          mat-flat-button
          class="!tw-mt-8 light-button"
          (click)="abortController && abortController.abort()">
          {{ 'i18n.Common.cancel' |  translate }}
        </button>
        <div
          *ngIf="loadingMessage"
          class="details-box">
          <div class="tw-h3 tw-mb-4">{{ loadingMessage.message | translate }}</div>
          <small>{{ fileName }}</small>
        </div>
      </ng-container>
      <ng-container *ngIf="error">
        <div class="title tw-mb-4">{{ 'i18n.Home.damn' | translate}}</div>
        <div class="tw-font-semibold">'{{ fileName }}'</div>
        <div
          *ngIf="error === 'generic'"
          class="tw-light">
          {{ 'i18n.Home.errorFileGeneric' | translate }}
        </div>
        <div
          *ngIf="error === 'validation'"
          class="tw-light">
          {{ 'i18n.Home.errorFileValidation' | translate }}
        </div>
        <button
          mat-flat-button
          class="!tw-mt-8 light-button"
          (click)="reset()">
          {{ 'i18n.Common.goBack' | translate }}
        </button>
        <div
          *ngIf="error === 'validation'"
          class="details-box">
          <span
            class="tw-underline tw-light tw-cursor-pointer"
            (click)="invalidLedgerNavigation()">
            {{ 'i18n.Home.warningFileValidation' | translate }}
          </span>
        </div>
      </ng-container>
    </div>
    <div
      class="loading-bar"
      [style.width.%]="loadingMessage?.index | apply : loadingPercentage : loadingMessage?.total"></div>
  </div>
</div>
