<div class="tw-flex tw-flex-row align-center tw-mx-4">
  <ngx-t3-tabs
    class="tw-grow"
    justify="space-between">
    <ngx-t3-tab-item
      value="info"
      width="fill"
      queryParamsHandling="merge"
      routerLinkActive="active"
      routerLink="info">
      <mat-icon class="tw-w-4 tw-h-4 tw-mr-1">info</mat-icon>
      {{ 'i18n.Common.info' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item
      value="log"
      width="fill"
      queryParamsHandling="merge"
      routerLinkActive="active"
      routerLink="log">
      <mat-icon class="tw-w-4 tw-h-4 tw-mr-1">list</mat-icon>
      {{ 'i18n.Common.log' | translate }}
    </ngx-t3-tab-item>

  </ngx-t3-tabs>

  <!-- FIXME: re-enable while sidebar collapse logic is in place -->
  <!-- <button
    mat-icon-button
    class="!tw-ml-1 tw-w-9 tw-h-9 tw-text-neutral-400">
    <mat-icon class="tw-w-4 tw-h-4 tw-rotate-90">unfold_less</mat-icon>
  </button> -->
</div>

<div class="tw-mt-3 tw-border-b tw-border-neutral-200"></div>

<div class="tw-grow tw-overflow-hidden">
  <router-outlet></router-outlet>
</div>
