<div
  *ngIf="!paginator?.loading?.value; else skeleton"
  class="tw-overflow-y-auto tw-h-full">

  <div class="tw-flex tw-flex-row tw-mx-4 tw-text-sm">
    {{ 'i18n.Project.ThreadReferences.subTitle' | translate }}
  </div>

  <ngx-t3-paginator-list
    *ngIf="paginator"
    class="tw-mt-7 tw-block"
    [paginator]="paginator">

    <ng-container *ngFor="let reference of paginator?.items?.value; let first = first">
      <ng-container *ngIf="reference && (reference.documentId | exported)">
        <app-resource-reference
          *ngIf="{
            document: reference.document$ | async
          } as resolved"
          [hasTopDivider]="first"
          [name]="resolved.document && resolved.document.name"
          [references]="[reference]"
          [expandable]="false">
        </app-resource-reference>
      </ng-container>
    </ng-container>

  </ngx-t3-paginator-list>
</div>

<ng-template #skeleton>
  <ngx-t3-skeleton class="tw-h-4 tw-w-full tw--mx-4 tw-py-3 tw--mx-4"></ngx-t3-skeleton>
</ng-template>
