<ng-container
  *ngIf="{
    document: document$ | async,
    participant: participant$ | async,
    blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async,
    documentTags: documentTags$ | async
  } as resolved">

  <ngx-t3-sidebar-header
    class="opal-sidebar-header-container"
    [backToLabel]="'i18n.Project.ProjectPage.backInfoProject' | translate"
    [label]="'i18n.Common.documentDetails' | translate"
    (backTo)="router.navigate(['/project', 'documents'],  { relativeTo: route, queryParamsHandling: 'merge' })">
    <ng-container context-menu>
      <button
        *ngIf="resolved.document?.isContentReadable"
        mat-icon-button
        [mat-menu-trigger-for]="menuDocument">
        <mat-icon class="opal-text-grey-400">more_vert</mat-icon>
      </button>
      <mat-menu #menuDocument="matMenu">
        <ng-container *ngIf="resolved.document as document">
          <button
            mat-menu-item
            queryParamsHandling="merge"
            [routerLink]="['/project/documents/', { outlets: { primary: [resolved.document.id, 'content'], aside: null }}]">
            <mat-icon class="opal-s-4">open_in_browser</mat-icon>
            {{ 'i18n.Project.DocumentDashboard.openDocument' | translate }}
          </button>
          <button
            mat-menu-item
            (click)="downloadDocument(document)">
            <mat-icon class="opal-s-4">cloud_download</mat-icon>
            <span>{{ 'i18n.Project.DocumentDashboard.downloadDocument' | translate }}</span>
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
  </ngx-t3-sidebar-header>

  <div class="opal-overflow-y-auto opal-h-full">

    <ngx-t3-descriptions class="opal-body-2">
      <ng-container *ngIf="resolved.document">
        <ng-template #redacted>
          <div class="redacted">{{ 'i18n.Common.redacted' | translate }}</div>
        </ng-template>

        <ngx-t3-description-item
          [label]="'i18n.Common.name' | translate"
          [multiline]="true">
          <ng-container *ngIf="resolved.document.name | exported; else redacted">
            {{ resolved.document.name | noValueLabel }}
          </ng-container>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.created' | translate">
          <ng-container *ngIf="resolved.document.createdAt !== undefined; else redacted">
            {{ resolved.document.createdAt | date : 'd LLL y, HH:mm' }}
          </ng-container>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.lastEdit' | translate">
          <ng-container *ngIf="resolved.document.updatedAt !== undefined; else redacted">
            {{ resolved.document.updatedAt | date : 'd LLL y, HH:mm' }}
          </ng-container>
        </ngx-t3-description-item>

        <ngx-t3-description-item
          *ngIf="resolved.documentTags && resolved.documentTags.length > 0"
          [label]="'i18n.Common.tags' | translate">
          <ngx-t3-tag-group class="opal-fx-wrap opal-fx-row opal-fx-g-0 opal-overflow-hidden">
            <app-redactable-tag
              *ngFor="let tag of resolved.documentTags"
              innerClasses="bg-grey-100"
              class="t3-tag-like opal-mb-1"
              [tagName]="tag?.name"></app-redactable-tag>
          </ngx-t3-tag-group>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.type' | translate">
          <ngx-t3-tag
            class="opal-bg-accent-200 opal-mr-2 no-ellipse"
            [ellipsed]="false">
            {{ resolved.document.extension }}
          </ngx-t3-tag>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.size' | translate">
          <ng-container *ngIf="resolved.document.length | exported; else redacted">
            {{ resolved.document.length !== undefined ? (resolved.document.length | apply : formatBytesSize) : '-' }}
          </ng-container>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.lastEditor' | translate">
          <app-participant-identity [participant]="resolved.participant"></app-participant-identity>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.lastLinkHash' | translate">
          <ng-container *ngIf="resolved.document.updatedInBlock.linkHash as linkHash; else redacted">
            <ngx-t3-copy-to-clipboard
              class="opal-d-block opal-ellipsed"
              position="left"
              [textToCopy]="linkHash | uint8">
              <div class="opal-body-2 opal-ellipsed opal-text-code opal-text-underline opal-mr-1">
                {{ linkHash | uint8 }}
              </div>
            </ngx-t3-copy-to-clipboard>
          </ng-container>
        </ngx-t3-description-item>

        <ngx-t3-description-item [label]="'i18n.Common.acks' | translate">
          <span class="opal-body-2 opal-d-block opal-ellipsed opal-text-code opal-text-underline">
            <app-acks-status
              [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
              (click)="openAcknowledgementsDialog(resolved.document.updatedInBlock)"></app-acks-status>
          </span>
        </ngx-t3-description-item>

      </ng-container>
    </ngx-t3-descriptions>

    <div
      *ngIf="resolved.document && resolved.document.isContentReadable"
      class="opal-fx-row opal-fx-justify-center opal-w-full opal-my-3">
      <button
        mat-flat-button
        class="opal-fx-row opal-fx-align-center opal-border-1 opal-border-grey-200"
        queryParamsHandling="merge"
        [routerLink]="['/project/documents/', { outlets: { primary: [resolved.document.id, 'content'], aside: null } }]">
        <span>{{ 'i18n.Project.DocumentDashboard.openDocument' | translate }}</span>
      </button>
    </div>
  </div>

</ng-container>
