<div
  *ngIf="image; else skeleton"
  class="opal-fx-row">
  <div
    *ngIf="image.type === 'icon'"
    class="opal-fx-center opal-fx-s-0 opal-s-6 opal-radius-4"
    [ngClass]="image.bgColor">
    <ngx-t3-icon
      iconClass="opal-s-4"
      [icon]="image.icon"
      [ngClass]="image.textColor"></ngx-t3-icon>
  </div>

  <div
    *ngIf="image.type === 'avatar'"
    class="opal-fx-s-0">
    <ngx-t3-avatar
      size="xs"
      class="opal-d-block"
      [src]="image.src">
    </ngx-t3-avatar>
  </div>

  <div
    *ngIf="image.type === 'doubleAvatar'"
    class="opal-fx-s-0">
    <div class="opal-h-fit opal-pos-rel">
      <ngx-t3-avatar
        size="xs"
        class="opal-d-block"
        [src]="image.src">
      </ngx-t3-avatar>
      <div
        class="avatar-icon opal-fx-center"
        [ngClass]="image.bgColor">
        <ngx-t3-icon
          iconClass="opal-s-2"
          [icon]="image.icon"
          [ngClass]="image.textColor"></ngx-t3-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <ngx-t3-avatar
    class="opal-mr-3"
    size="xs"
    [src]="null"></ngx-t3-avatar>
</ng-template>
