<div
  *ngIf="image; else skeleton"
  class="tw-flex tw-flex-row">
  <div
    *ngIf="image.type === 'icon'"
    class="tw-flex tw-items-center tw-justify-center tw-shrink-0 tw-w-6 tw-h-6 !tw-rounded"
    [ngClass]="image.bgColor">
    <ngx-t3-icon
      iconClass="tw-w-4 tw-h-4"
      [icon]="image.icon"
      [ngClass]="image.textColor"></ngx-t3-icon>
  </div>

  <div
    *ngIf="image.type === 'avatar'"
    class="tw-shrink-0">
    <div
      *ngIf="isCustomIcon(image.src)"
      class="icon tw-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-pink-100 tw-h-6 tw-w-6">
      <ngx-t3-icon
        iconClass="!tw-text-pink-600 tw-m-0 tw-h-4 tw-w-4"
        [icon]="image.src"></ngx-t3-icon>
    </div>

    <ngx-t3-avatar
      *ngIf="!image.src || isString(image.src)"
      size="xs"
      class="tw-block"
      [src]="image.src">
    </ngx-t3-avatar>
  </div>

  <div
    *ngIf="image.type === 'doubleAvatar'"
    class="tw-shrink-0">
    <div class="tw-h-fit tw-relative">
      <div
        *ngIf="isCustomIcon(image.src)"
        class="icon tw-flex tw-items-center tw-justify-center tw-rounded-full tw-bg-pink-100 tw-h-6 tw-w-6">
        <ngx-t3-icon
          iconClass="!tw-text-pink-600 tw-m-0 tw-h-4 tw-w-4"
          [icon]="image.src"></ngx-t3-icon>
      </div>

      <ngx-t3-avatar
        *ngIf="!image.src || isString(image.src)"
        size="xs"
        class="tw-block"
        [src]="image.src">
      </ngx-t3-avatar>
      <div
        class="avatar-icon tw-flex tw-items-center tw-justify-center"
        [ngClass]="image.bgColor">
        <ngx-t3-icon
          iconClass="tw-w-2 tw-h-2"
          [icon]="image.icon"
          [ngClass]="image.textColor"></ngx-t3-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <ngx-t3-avatar
    class="tw-mr-3"
    size="xs"
    [src]="null"></ngx-t3-avatar>
</ng-template>
