<ng-container *ngIf="{
    creator: creator$ | async,
    acksInfo: acksInfo$ | async,
    replyTo: replyTo$ | async,
    threadMessage: threadMessage$ | async
  } as resolved">
  <ngx-t3-thread-message
    *ngIf="resolved.threadMessage && (resolved.threadMessage.message | exportedAndDefined)"
    class="tw-block tw-max-w-full"
    [createdAt]="(resolved.threadMessage.createdAt || '') | ago | titlecase"
    [message]="resolved.threadMessage.message"
    [mode]="mode"
    [status]="ThreadMessageStatus.Delivered">
    <ng-container
      *appIfPersonParticipant="resolved.creator; else workflowParticipant"
      author>
      <ng-container *ngIf="{
        agent: resolved.creator && resolved.creator.agent$ | async,
        organization: resolved.creator && resolved.creator.organization$ | async
      } as creatorDetails">
        <ngx-t3-thread-message-author-info
          *ngIf="creatorDetails.agent?.agentType !== ViewerAgentType.Thing"
          class="tw-block"
          [class.tw-mb-2]="mode === 'complete'"
          [avatarSize]="mode === 'complete' ? 'xs' : 'xxs'"
          [authorName]="creatorDetails.agent && creatorDetails.agent.fullName"
          [authorAvatar]="creatorDetails.agent && creatorDetails.agent.avatar"
          [authorOrganizationLogo]="creatorDetails.organization && creatorDetails.organization.logo">
        </ngx-t3-thread-message-author-info>

        <ngx-t3-thread-message-thing-author-info
          *ngIf="creatorDetails.agent && creatorDetails.agent.agentType === ViewerAgentType.Thing"
          avatarSize="xs"
          [thingAvatar]="creatorDetails.agent.avatar"
          [thingInfo]="creatorDetails.agent.type | apply : getThingTypeInfo"
          [thingName]="creatorDetails.agent.name"
          [thingOrganizationLogo]="creatorDetails.organization?.logo"></ngx-t3-thread-message-thing-author-info>
      </ng-container>
    </ng-container>
    <ng-template #workflowParticipant>
      <ngx-t3-thread-message-workflow-author-info
        class="tw-block"
        [class.tw-mb-2]="mode === 'complete'"
        [avatarSize]="mode === 'complete' ? 'xs' : 'xxs'"></ngx-t3-thread-message-workflow-author-info>
    </ng-template>

    <ng-container additionalMessageInfo>
      <app-acks-icon
        class="!tw-ml-1 tw-mt-2"
        [status]="resolved.acksInfo && resolved.acksInfo.status"
        (click)="resolved.threadMessage && openAcknowledgementsDialog(resolved.threadMessage.updatedInBlock)">
      </app-acks-icon>
    </ng-container>

    <ng-template
      *ngIf="resolved.threadMessage.id"
      #rendererTemplate>
      <ng-container *ngIf="mode === 'complete' && (resolved.replyTo | exportedAndDefined)">
        <app-thread-message
          class="tw-grow tw-basis-0 tw-block"
          mode="reduced"
          [threadMessage]="resolved.replyTo">
        </app-thread-message>
      </ng-container>

      <ng-container *ngIf="{ fragments: fragments$ | async } as messageContent">
        <ngx-t3-thread-message-render-fragments
          [fragments]="messageContent.fragments || []"
          (fragmentSelect)="selectFragmentHandler($event)">
        </ngx-t3-thread-message-render-fragments>
      </ng-container>
    </ng-template>
  </ngx-t3-thread-message>

</ng-container>
