<ng-container *ngIf="{
  documentId: documentId$ | async,
  viewDocumentForm: viewDocumentForm$ | async
} as resolved">
  <div
    *ngIf="resolved.viewDocumentForm"
    class="container-dashboard tw-flex tw-flex-col"
    [formGroup]="resolved.viewDocumentForm.form">
    <div
      *ngIf="viewMode === 'current'"
      class="tw-flex tw-flex-row tw-justify-between tw-h-[68px] tw-box-border tw-border-b tw-border-neutral-200 tw-z-10 tw-sticky tw-block tw-px-12 tw-py-3">
      <div class="tw-flex-grow-1 tw-flex tw-flex-row tw-justify-between tw-items-center tw-min-w-0 tw-min-h-0">
        <h3 class="tw-m-0 tw-pl-2 tw-truncate">{{ resolved.viewDocumentForm.uiDocumentForm.name }}</h3>
      </div>
    </div>

    <div class="tw-mt-12">
      <div
        *ngFor="let item of resolved.viewDocumentForm.uiDocumentForm.items; trackBy: trackById"
        class="form-item-list tw-grow tw-mx-auto tw-px-12 tw-box-border tw-max-w-5xl">

        <ng-container *ngIf="item.kind === 'content'">
          <ngx-t3-form-item-heading
            class="tw-block"
            [name]="item.value.name"
            [description]="item.value.description"></ngx-t3-form-item-heading>
        </ng-container>

        <ng-container *ngIf="item.kind === 'stream'">
          <ng-container *ngIf="item.value | exportedAndDefined">
              <app-form-item-filler-wrapper
                [viewMode]="viewMode"
                [documentFormItem]="item.value"
                [form]="resolved.viewDocumentForm.form | apply : getItemForm : item.value.id"></app-form-item-filler-wrapper>
          </ng-container>

          <ng-container *ngIf="item.value | redacted">
            Redacted
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>
