<ngx-t3-paginator-list
  *ngIf="paginator"
  class="tw-overflow-y-auto tw-w-full tw-p-4 tw-box-border tw-mt-auto tw-h-full !tw-flex !tw-flex-col-reverse"
  [paginator]="paginator">
  <ng-container *ngIf="paginator?.total?.value || paginator?.loading?.value; else noMessages">
    <ng-container *ngFor="let threadMessage of paginator.items.value">
      <app-thread-message [threadMessage]="threadMessage"></app-thread-message>
    </ng-container>
  </ng-container>

  <ng-template
    #loadMoreButton
    let-loadMore>
    <button
      mat-mini-fab
      class="tw-mb-2 tw-mx-auto tw-bg-white tw-text-neutral-400"
      (click)="loadMore()">
      <mat-icon class="tw-w-full tw-h-full tw-flex tw-flex-row tw-flex tw-items-center tw-justify-center">
        expand_less
      </mat-icon>
    </button>
  </ng-template>
</ngx-t3-paginator-list>

<ng-template #noMessages>
  <div class="tw-flex tw-flex-col tw-flex tw-items-center tw-justify-center tw-grow tw-basis-0 tw-bg-white tw-h-full">
    <img
      src="/assets/images/no-messages.svg"
      alt="upload file"
      class="tw-mb-3">
    <div class="tw-text-base tw-text-neutral-400">
      {{ 'i18n.Common.noMessages' | translate }}
    </div>
  </div>
</ng-template>
