<h2
  mat-dialog-title
  class="opal-mb-0 opal-text-700">
  {{ 'Acknowledgements' | translate }}
</h2>

<div
  class="opal-my-6 opal-p-3 opal-fx-col opal-bg-grey-100 opal-radius-8">
  <div class="opal-mb-4">
    <h4 class="opal-m-0">{{ 'Informazioni Blocco' | translate }}</h4>
  </div>

  <div class="block-info-row opal-fx-row">
    <label class="opal-overline">{{ 'Indice' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="right"
      [textToCopy]="block.index + ''">
      <div class="opal-mr-1">
        {{ block.index }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>

  <hr class="opal-w-full opal-my-3">

  <div class="block-info-row opal-h-auto opal-fx-row">
    <label class="opal-overline">{{ 'Hash' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="left"
      [textToCopy]="block.linkHash | uint8">
      <div class="opal-text-left opal-text-code opal-break-all opal-mr-1">
        {{ block.linkHash | uint8 }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>

  <hr class="opal-w-full opal-my-3">

  <div class="block-info-row opal-fx-row opal-fx-align-center opal-mb-1">
    <label class="opal-overline">{{ 'Creato' | translate }}</label>
    <ngx-t3-copy-to-clipboard
      position="left"
      [textToCopy]="(block.createdAt | date : 'd MMM YYYY, HH:mm') || ''">
      <div class="opal-mr-1">
        {{ block.createdAt | date : 'd MMM YYYY, HH:mm' }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>
</div>

<h4 class="opal-mt-0 opal-mb-2">{{ 'Acknowledgements' | translate }}</h4>

<div class="opal-fx-row opal-p-2 opal-border-b-1 opal-border-grey-200">
  <span class="org-info-col opal-overline opal-mr-2">{{ 'Organizzazione' | translate }}</span>
  <span class="hash-col opal-fx-g-1 opal-overline opal-mr-2">{{ 'Hash' | translate }}</span>
  <span class="date-info-col opal-overline">{{ 'Data' | translate }}</span>
</div>

<mat-dialog-content class="ack-dialog-content">
  <ng-container *ngFor="let record of acks$ | async">
    <div class="opal-fx-row opal-fx-align-center opal-border-grey-200 opal-border-b-1 opal-py-3 opal-px-2">
      <div
        *ngIf="{ profile: record.organization$ | async } as resolved"
        class="org-info-col opal-fx-row opal-fx-align-center opal-mr-2">
        <ngx-t3-organization-identity
          size="xs"
          [src]="resolved.profile && resolved.profile.logo"
          [firstLine]="resolved.profile && resolved.profile.businessName || 'Anonimo' | translate">
        </ngx-t3-organization-identity>
      </div>

      <ng-container *ngIf="record.ack else pending">
        <ng-container *ngIf="record.block$ | async as recordBlock">
          <div class="hash-col opal-mr-2 opal-fx-g-1 opal-fx-s-0">
            <div
              *ngIf="recordBlock; else pending"
              class="opal-fx-g-1 opal-fx-row opal-fx-align-center">
              <ngx-t3-copy-to-clipboard
                class="opal-w-full"
                position="left"
                [textToCopy]="$any(recordBlock).linkHash | uint8">
                <div class="opal-text-underline opal-ellipsed opal-mr-1">
                  {{ $any(recordBlock).linkHash | uint8 }}
                </div>
              </ngx-t3-copy-to-clipboard>
            </div>
          </div>

          <div class="date-info-col opal-fx-s-0">
            <span *ngIf="recordBlock; else pending">
              {{ $any(recordBlock).createdAt | date : 'd MMM YYYY, HH:mm' }}
            </span>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #pending>
        <div class="hash-col opal-mr-2 opal-fx-g-1 opal-fx-s-0 opal-text-grey-400">{{ 'In attesa' | translate }}</div>
      </ng-template>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions
  class="opal-py-6"
  align="center">
  <button
    color="accent"
    mat-dialog-close
    mat-flat-button
    type="button">Done</button>
</mat-dialog-actions>
