// Text, background, border colors
// Refers to _colors.scss for available colors (root css variables are declared in theme.scss)
@each $name, $palette in $colors {
  @each $shade, $hex in $palette {

    // Notation with color shade
    $var: var(--opal-#{$name}-#{$shade});
    $varRgb: var(--opal-#{$name}-#{$shade}-rgb);

    @if ($hex and $shade != 'contrast') {
      @if ($shade == 500) {

        // .text-primary, opal-text-accent, opal-text-grey, .text-orange...
        .opal-text-#{$name} {
          @apply tw-text-#{$name}-500 #{!important};
        }

        // .opal-bg-primary, opal-bg-accent.bg-opacity-75, opal-bg-grey.bg-opacity-25, .opal-bg-orange...
        .opal-bg-#{$name} {
          @apply tw-bg-#{$name}-500 #{!important};

          $opacity: 0;
          @while $opacity <= 100 {
            &.opal-bg-opacity-#{$opacity} {
              @apply tw-bg-#{$name}-500/#{$opacity} #{!important};
            }
            $opacity: $opacity + 5;
          }
        }

        // .opal-border-primary, opal-border-accent, opal-border-grey, .opal-border-orange...
        .opal-border-#{$name} {
          @apply tw-border-#{$name}-500 #{!important};
        }

        // .opal-outline-primary, opal-outline-accent, opal-outline-grey, .opal-outline-orange...
        .opal-outline-#{$name} {
          @apply tw-outline-#{$name}-500 #{!important};
        }

        // .opal-shadow-grey-1, .opal-shadow-white-2...
        @for $size from 0 to 8 {
          .opal-shadow-#{$name}-#{$size} {
            box-shadow: 0 0 0 #{$size}px $var !important;
          }
        }

      }

      // .text-primary-500, opal-text-grey-300, .text-orange-200...
      .opal-text-#{$name}-#{$shade} {
        @apply tw-text-#{$name}-#{$shade} #{!important};
      }

      // opal-bg-accent-500.bg-opacity-75, opal-bg-grey-300.bg-opacity-25, .opal-bg-orange-600...
      .opal-bg-#{$name}-#{$shade} {
        // background: $var !important;
        @apply tw-bg-#{$name}-#{$shade} #{!important};
        $opacity: 0;
        @while $opacity <= 100 {
          &.opal-bg-opacity-#{$opacity} {
            @apply tw-bg-#{$name}-#{$shade}/#{$opacity} #{!important};
          }
          $opacity: $opacity + 5;
        }
      }

      // .opal-border-primary-500, opal-border-grey-300, .opal-border-orange-200...
      .opal-border-#{$name}-#{$shade} {
        @apply tw-border-#{$name}-#{$shade} #{!important};
      }

      // .opal-shadow-grey-100-1, .opal-shadow-red-600-2...
      @for $size from 0 to 8 {
        .opal-shadow-#{$name}-#{$shade}-#{$size} {
          box-shadow: 0 0 0 #{$size}px $var !important;
        }
      }

    }
  }
}
