.opal-pointer, .pointer {
  cursor: pointer;
  outline: none;
}

.opal-no-pointer {
  cursor: default;
}

.opal-content-box {
  box-sizing: content-box !important;
}
.opal-border-box {
  box-sizing: border-box !important;
}

.opal-break-all {
  word-break: break-all;
}

.opal-break-word {
  word-break: break-word;
}

.opal-hover-container {
  pointer-events: all;
  &:not(:hover) {
    .on-hover {
      display: none !important;
    }
  }
}

.opal-scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
