// Height and width
@each $attr in (_, height, width) {
  // Pixels: opal-s-4, opal-h-40, opal-w-20
  @for $size from 0 through 175 {
    .opal-#{ if($attr == _, s, str-slice($attr, 1, 1)) }-#{$size} {
      @if ($attr == height or $attr == _) {
        height: #{$size * 4}px !important;
      }
      @if ($attr == width or $attr == _) {
        width: #{$size * 4}px !important;
      }
    }
    .opal-min-#{ if($attr == _, s, str-slice($attr, 1, 1)) }-#{$size} {
      @if ($attr == height or $attr == _) {
        min-height: #{$size * 4}px !important;
      }
      @if ($attr == width or $attr == _) {
        min-width: #{$size * 4}px !important;
      }
    }
    .opal-max-#{ if($attr == _, s, str-slice($attr, 1, 1)) }-#{$size} {
      @if ($attr == height or $attr == _) {
        max-height: #{$size * 4}px !important;
      }
      @if ($attr == width or $attr == _) {
        max-width: #{$size * 4}px !important;
      }
    }
    @if ($attr == _) {
      mat-icon.opal-s-#{$size} {
        font-size: #{$size * 4}px !important;
        line-height: #{$size * 4}px !important;
      }
      mat-icon.opal-max-s-#{$size} {
        font-size: #{$size * 4}px !important;
        line-height: #{$size * 4}px !important;
      }
      mat-icon.opal-min-s-#{$size} {
        font-size: #{$size * 4}px !important;
        line-height: #{$size * 4}px !important;
      }
    }

  }

  // Percentage: opal-s-3p, opal-w-6p, opal-h-4p...
  @for $size from 1 through 12 {
    .opal-#{ if($attr == _, s, str-slice($attr, 1, 1)) }-#{$size}p {
      @if ($attr == height or $attr == _) {
        height: percentage(math.div($size, 12));
      }
      @if ($attr == width or $attr == _) {
        width: percentage(math.div($size, 12));
      }
    }
  }

  // Others: opal-s-screen, opal-h-auto, opal-w-full, opal-w-inherit...
  @each $name, $size in (auto: auto, full: 100%, screen: _, inherit: inherit, fit: fit-content, max: max-content) {
    .opal-#{ if($attr == _, s, str-slice($attr, 1, 1)) }-#{$name} {
      @if ($attr == height or $attr == _) {
        @if ($name == screen) {
          height: 100vh;
        } @else {
          height: $size;
        }
      }
      @if ($attr == width or $attr == _) {
        @if ($name == screen) {
          width: 100vw;
        } @else {
          width: $size;
        }
      }
    }
  }

}
