// Default font-size
:root {
  font-size: 16px;
  font-family: var(--font-family-content);
  color: black !important;
}

// Text alignment
@each $alignment in (left, right, center, justify) {
  // .text-left, .text-justify
  .opal-text-#{$alignment} {
    text-align: $alignment !important;
  }
}

// Font sizes (Body)
@each $index, $fontSize in (1: 16px, 2: 14px, 3: 12px, 4: 10px) {
  // .opal-body-1, opal-body-2...
  .opal-body-#{$index} {
    font-size: $fontSize !important;
  }
}

// Font sizes (Headings)
@each $index, $fontSize in (1: 28px, 2: 22px, 3: 20px, 4: 18px, 5: 16px, 6: 14px) {
  // h1, h2, .h1, .h2...
  h#{$index}, .opal-h#{$index} {
    font-size: $fontSize !important;
    font-family: var(--font-family-brand);
    font-weight: normal;
  }
}

// Text transforms
@each $textTransform in (none, uppercase, capitalize, lowercase) {
  // .text-no-case, .text-uppercase...
  .opal-text-#{ if($textTransform == none, "no-case", $textTransform) } {
    text-transform: $textTransform !important;
  }
}

// Text decoration
@each $textDecoration in (none, line-through, underline) {
  // .text-no-decoration, .opal-text-underline...
  .opal-text-#{ if($textDecoration == none, "no-decoration", $textDecoration) } {
    text-decoration: $textDecoration !important;
  }
}

// Text wraps
@each $textWrap in (normal, nowrap, opal-break-spaces, opal-break-line) {
  // .text-normal-wrap, .text-nowrap
  .opal-text-#{ if($textWrap == normal, "normal-wrap", $textWrap) } {
    white-space: $textWrap !important;
  }
}

// Text weight
@each $fontWeight in (300, 400, 500, 600, 700) {
  // .text-400, .text-700
  .opal-text-#{$fontWeight} {
    font-weight: $fontWeight !important;
  }
}

// Text weight literal
@each $name, $fontWeight in (light: 300, normal: normal, semi-bold: 600, bold: bold) {
  // .text-normal, .opal-text-bold
  .opal-text-#{$name} {
    font-weight: $fontWeight !important;
  }
}

// Text style
@each $fontStyle in (italic, normal, oblique) {
  // .opal-text-style-italic, .opal-text-style-normal
  .opal-text-style-#{$fontStyle} {
    font-style: $fontStyle !important;
  }
}

// Word break
@each $wordBreak in (break-word, opal-break-all, keep-all, ) {
  // .text-break-word, .text-break-all
  .opal-text-#{$wordBreak} {
    word-break: $wordBreak !important;
  }
}

// Text family
@each $fontFamily in (content, brand, mono, code, logo) {
  // .text-brand, .text-mono, .text-code, .text-logo
  .opal-text-#{$fontFamily} {
    font-family: var(--font-family-#{$fontFamily});
  }
}

// Logotype setting for selecting the right "a" glyph
.opal-text-logo {
  -webkit-font-feature-settings: "ss02" 1;
     -moz-font-feature-settings: "ss02" 1;
      -ms-font-feature-settings: "ss02" 1;
          font-feature-settings: "ss02" 1;
}

.opal-text-code {
  letter-spacing: -0.05em;
  line-height: 16px;
}

.opal-overline {
  font-family: var(--font-family-brand);
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.opal-ellipsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opal-capitalize-first {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

@mixin ellipse-at-line($line, $lineHeight) {
  flex-shrink: 0;
  word-break: break-word;
  line-height: $lineHeight;
  overflow: hidden;
  max-height: $lineHeight * $line;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
