<ng-container *ngIf="{
  editor: editor$ | async,
  blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async,
  streamClasses: streamClasses$ | async
} as resolved">
  <h2
    mat-dialog-title
    class="tw-mb-0">
    {{ 'i18n.Common.streamDetails' | translate }}
  </h2>

  <div
    class="tw-my-6"
    mat-dialog-content>
    <ngx-t3-descriptions class="tw-border !tw-rounded tw-border-neutral-200">
      <ng-template #redacted>
        <div class="redacted">{{ 'i18n.Common.redacted' | translate }}</div>
      </ng-template>

      <ngx-t3-description-item
        [label]="'i18n.Common.name' | translate"
        [multiline]="true">
        <ng-container *ngIf="stream.name | exported; else redacted">
          {{ stream.name | noValueLabel }}
        </ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.type' | translate">
        <div
          *ngIf="stream.uiType | exported; else redacted"
          class="tw-flex tw-flex-row tw-items-center">
          <ngx-t3-icon
            class="tw-mr-2"
            iconClass="tw-w-4 tw-h-4"
            [icon]="stream.uiType | apply : getStreamTypeIcon">
          </ngx-t3-icon>
          {{ stream.uiType | titlecase | noValueLabel }}
        </div>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.value' | translate"
        [multiline]="true">
        <ngx-t3-stream-value-renderer
          [value]="stream.value"
          [type]="stream.type"
          [configuration]="stream.configuration">
        </ngx-t3-stream-value-renderer>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.description' | translate"
        [multiline]="true">
        <span *ngIf="stream.description | exported; else redacted">
          {{ stream.description | noValueLabel }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.machineName' | translate">
        <span *ngIf="stream.machineName | exported; else redacted">
          {{ stream.machineName | noValueLabel }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.edit' | translate">
        <ng-container *ngIf="stream.updatedAt !== undefined; else redacted">
          {{ stream.updatedAt | date : 'd LLL y, HH:mm' }}
        </ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="resolved.streamClasses && resolved.streamClasses.length > 0"
        [label]="'i18n.Common.classes' | translate"
        [multiline]="true">
        <ngx-t3-tag-group class="tw-flex-wrap tw-flex tw-flex-row tw-grow-0 tw-overflow-hidden tw-gap-1">
          <app-redactable-tag
            *ngFor="let class of resolved.streamClasses"
            innerClasses="bg-grey-100"
            class="t3-tag-like tw-mb-1"
            [tagName]="class?.name"
            [color]="class?.color"></app-redactable-tag>
        </ngx-t3-tag-group>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.editor' | translate">
        <app-participant-identity [participant]="resolved.editor"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.edit' | translate">
        <ng-container *ngIf="stream.updatedAt !== undefined; else redacted">
          {{ stream.updatedAt | date : 'd LLL y, HH:mm' }}
        </ng-container>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.linkHash' | translate">
        <ngx-t3-copy-to-clipboard
          class="tw-block tw-truncate"
          position="left"
          [textToCopy]="stream.updatedInBlock.linkHash | uint8">
          <div class="tw-text-sm tw-truncate tw-font-code tw-underline tw-mr-1">
            {{ stream.updatedInBlock.linkHash | uint8 }}
          </div>
        </ngx-t3-copy-to-clipboard>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        [label]="'i18n.Common.acks' | translate"
        [hasDivider]="false">
        <span class="tw-text-sm tw-block tw-truncate tw-font-code tw-underline">
          <app-acks-status
            [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
            (click)="openAcknowledgementsDialog(stream.updatedInBlock)"></app-acks-status>
        </span>
      </ngx-t3-description-item>
    </ngx-t3-descriptions>
  </div>

  <mat-dialog-actions>
    <button
      mat-flat-button
      mat-dialog-close
      color="accent">
      {{ 'i18n.Common.close' | translate }}
    </button>
  </mat-dialog-actions>
</ng-container>
