// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Material icon fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined);

@import "../opal/src/index.scss";

// Angular material typography
$custom-typography: mat.define-typography-config(
  $font-family: $font-family-content,
);

// Include the common styles for Angular Material
@include mat.core($custom-typography);

// Build the build theme
$theme-primary: mat.define-palette(var-palette(primary), 500);
$theme-accent: mat.define-palette(var-palette(accent), 500);

$theme-warn: mat.define-palette(var-palette(warn), 700);
$dark-theme-warn: mat.define-palette(var-palette(warn), 500);

$theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);
$dark-theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);

// Init material theme
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);

// FIXME: Dark theme actually is the same of light theme, so it's better to avoid duplicated styles color definition
// Reference: https://github.com/angular/components/blob/main/guides/duplicate-theming-styles.md

// .dark-theme {
//   @include mat.core-theme($dark-theme);
//   @include mat.all-component-colors($dark-theme);
// }

@import "scss/mat-bottom-sheet";
@import "scss/mat-button";
@import "scss/mat-checkbox";
@import "scss/mat-date-picker";
@import "scss/mat-drawer";
@import "scss/mat-expansion-panel";
@import "scss/mat-form";
@import "scss/mat-menu";
@import "scss/mat-progress-bar";
@import "scss/mat-radio-button";
@import "scss/mat-select";
@import "scss/mat-slide-toggle";
@import "scss/mat-slider";
@import "scss/mat-snack-bar";
@import "scss/mat-tab";
@import "scss/mat-table";
@import "scss/mat-toast";
@import "scss/mat-tooltip";
