<div>
  <div class="mb-6 border-1 border-b illuminem-border-grey-400 md:illuminem-border-light-black pb-6">
    <app-about-document></app-about-document>
  </div>

  <div class="mb-6 border-1 border-b illuminem-border-grey-400 md:illuminem-border-light-black pb-6">
    <app-esg-campaigns></app-esg-campaigns>
  </div>

  <div class="mb-6 border-1 border-b illuminem-border-grey-400 md:illuminem-border-light-black pb-6 xl:mb-0 xl:pb-0 xl:border-0">
    <app-communications></app-communications>
  </div>
</div>
