<ng-container *ngIf="{
  inchainKeys: inchainKeys$ | async,
  inchainKeysCount: storageService.getInchainKeysCount()
} as resolved">
  <div class="opal-fx-col opal-h-full opal-radius-8 opal-border-1 opal-border-grey-200">
    <div class="opal-fx-col opal-overflow-y-auto opal-fx-g-1 opal-fx-b-0 opal-bg-white opal-pos-rel opal-radius-t-8">
      <div class="table-header opal-pos-sticky opal-z-index-10 opal-bg-white opal-inset-t-0">
        <div class="opal-w-25 opal-fx-justify-start opal-pl-4 opal-border-box">Block</div>
        <div class="opal-fx-g-1 opal-fx-b-0 opal-fx-justify-start opal-pl-5">Key</div>
      </div>
      <div
        *ngFor="let item of resolved.inchainKeys"
        class="opal-border-b-1 opal-border-grey-100 opal-fx-row opal-py-3 opal-body-2 opal-pos-rel opal-bg-white">
        <mat-icon
          *ngIf="!item.hasValidReference()"
          class="opal-text-orange-500 opal-pos-abs opal-my-auto opal-inset-0"
          matTooltip="Missing resource">
          warning
        </mat-icon>
        <div class="opal-fx-center opal-w-25">{{ item.index }}</div>
        <div
          *ngIf="item.key | uint8 as key"
          class="opal-pl-5 opal-fx-g-1 opal-fx-b-0 opal-fx-row opal-fx-justify-start opal-fx-align-center opal-ellipsed">
          <ngx-t3-copy-to-clipboard
            class="opal-w-full"
            position="left"
            [textToCopy]="key"
            (click)="$event.stopImmediatePropagation()">
            <div
              class="opal-body-2 opal-ellipsed opal-mr-1">
              {{ key }}
            </div>
          </ngx-t3-copy-to-clipboard>
        </div>
      </div>
      <div
        *ngIf="!resolved.inchainKeys?.length"
        class="opal-fx-col opal-fx-center opal-fx-g-1 opal-fx-b-0 opal-bg-white opal-border-b-1 opal-border-grey-200">
        <img
          src="/assets/images/search-items.svg"
          alt="upload file"
          class="opal-mb-3">
        <div class="opal-h4">
          {{ 'i18n.Explorer.noInChainKeys' | translate }}
        </div>
      </div>
    </div>
    <ngx-t3-table-paginator
      class="opal-radius-b-8"
      [pageSize]="inchainKeysPageEvent.pageSize"
      [length]="resolved.inchainKeys?.length || 0"
      [total]="resolved.inchainKeysCount"
      [ofLabel]="'i18n.TablePaginator.of' | translate"
      [pageLabel]="'i18n.TablePaginator.page' | translate"
      [totalPageLabel]="'i18n.TablePaginator.perPage' | translate"
      (pageChange)="inchainKeysPageEvent = $event">
    </ngx-t3-table-paginator>
  </div>
</ng-container>
