@use 'sass:math';

// Fonts
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400%3B500%3B700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300%3B400%3B600%3B700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=DM+Mono:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap);

// Silent SCSS modules
@import "scss/variables";
@import "scss/colors";
@import "scss/animations";

:root {
  // Color variables (see colors.scss)
  // --white, --primary, --accent, --red, --red-300, --grey-500
  @each $name, $palette in $colors {
    @each $shade, $hex in $palette {
      @if ($hex and $shade != 'contrast') {
        @if ($shade == 500) {
          --oldopal-#{$name}: #{$hex};
        }
        --oldopal-#{$name}-#{$shade}: #{$hex};
        --oldopal-#{$name}-#{$shade}-rgb: #{red($hex)}, #{green($hex)}, #{blue($hex)};
      }
    }
  }
  --opal-page-bg: theme("colors.gray.100");
  --opal-page-bg-rgb: var(--oldopal-coolgrey-100-rgb);

  --font-family-content: #{$font-family-content};
  --font-family-brand: #{$font-family-brand};
  --font-family-code: #{$font-family-code};
  --font-family-mono: #{$font-family-mono};
  --font-family-logo: #{$font-family-logo};

  background: var(--opal-background);
  color: var(--content);

  &.inverse {
    --opal-background: theme("colors.black.500");
    --opal-color: theme("colors.white.500");
  }
}

@import "scss/font";
@import "scss/layout";
@import "scss/reset";

@import "scss/utilities//breakpoints";
@import "scss/utilities/border";
@import "scss/utilities/color";
@import "scss/utilities/display";
@import "scss/utilities/flex";
@import "scss/utilities/glass";
@import "scss/utilities/misc";
@import "scss/utilities/opacity";
@import "scss/utilities/outline";
@import "scss/utilities/overflow";
@import "scss/utilities/position";
@import "scss/utilities/select";
@import "scss/utilities/shadow";
@import "scss/utilities/size";
@import "scss/utilities/spacing";
@import "scss/utilities/text";
@import "scss/utilities/transform";
@import "scss/utilities/visibility";
@import "scss/utilities/z-index";

@import "scss/components/menu";
@import "scss/components/sidebar";

// TailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;
