@font-face {
  font-family: "Twemoji Mozilla";
  src: url("/assets/opal/fonts/TwemojiMozilla.ttf");
}

@font-face {
  font-family: "TTFors";
  src: url("/assets/opal/fonts/TTForsLight.woff2") format("woff2"), url("/assets/opal/fonts/TTForsLight.woff") format("woff");
}
