<ngx-t3-sidebar-header
  class="tw-t3-sidebar-header-container"
  [backToLabel]="'i18n.Common.thread' | translate"
  [label]="'i18n.Common.threadDetails' | translate"
  (backTo)="router.navigate(['messages'],  { relativeTo: route, queryParamsHandling: 'merge' })">
</ngx-t3-sidebar-header>

<div class="tw-overflow-y-auto tw-pb-3">
  <app-thread-overview
    *ngIf="{
      thread: thread$ | async,
      referencesCount: referencesCount$ | async,
      participantsCount: participantsCount$ | async
    } as resolved"
    [thread]="resolved.thread"
    [referencesCount]="resolved.referencesCount"
    [participantsCount]="resolved.participantsCount"
    (participantsClick)="openParticipants(resolved.participantsCount)"
    (referencesClick)="openReferences(resolved.referencesCount)">
  </app-thread-overview>
</div>
