<div
  *ngIf="blockItem"
  class="tw-flex tw-flex-row tw-items-center tw-py-3 tw-text-sm tw-relative"
  matRipple>
  <mat-icon
    class="tw-absolute tw-my-auto tw-inset-l-4 tw-w-4 tw-h-4 tw-text-neutral-400"
    [class.tw-rotate-90]="isOpen">
    chevron_right
  </mat-icon>
  <div class="tw-w-20 tw-flex tw-items-center tw-justify-center tw-px-4 tw-box-border">
    {{ blockItem.index }}
  </div>
  <div
    *ngIf="blockItem.linkHash | uint8 as linkHash"
    class="tw-px-3 tw-box-border tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate tw-font-mono">
    <ngx-t3-copy-to-clipboard
      class="tw-w-full"
      position="left"
      [textToCopy]="linkHash"
      (click)="$event.stopImmediatePropagation()">
      <div
        class="tw-text-sm tw-truncate tw-mr-1">
        {{ linkHash }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>
  <div class="tw-px-3 tw-box-border tw-w-[8.75rem] tw-flex tw-flex-row tw-justify-start">
    <ng-container *ngIf="blockItem.encapsulations">
      <ngx-t3-tag
        *ngFor="let encapsulationType of blockItem.encapsulations; let last = last"
        [class]="[encapsulationType | apply : fromPascalCaseToKebabCase, '!tw-ml-1']"
        [class.tw-mr-3]="last"
        [matTooltip]="blockEncapsulation[encapsulationType].fullName | translate">
        {{ blockEncapsulation[encapsulationType].shortName }}
      </ngx-t3-tag>
    </ng-container>
  </div>
  <div class="tw-px-3 tw-box-border tw-w-20 tw-flex tw-flex-row tw-justify-start">
    <ngx-t3-tag
      *ngIf="blockItem.blockType"
      [class]="blockItem.blockType | apply : fromPascalCaseToKebabCase"
      [matTooltip]="blockEncapsulation[blockItem.blockType].fullName | translate">
      {{ blockEncapsulation[blockItem.blockType].shortName }}
    </ngx-t3-tag>
  </div>
  <div class="tw-w-20 tw-px-3 tw-box-border tw-truncate">
    <div class="tw-truncate">
      {{ blockItem.size | apply : formatBytesSize : 2 }}
    </div>
  </div>
  <div
    *ngIf="blockItem.merkleTreeRoot | uint8 as merkleTreeRoot"
    class="tw-px-3 tw-box-border tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate tw-font-mono">
    <ngx-t3-copy-to-clipboard
      class="tw-w-full"
      position="left"
      [textToCopy]="merkleTreeRoot"
      (click)="$event.stopImmediatePropagation()">
      <div
        class="tw-text-sm tw-truncate tw-mr-1">
        {{ merkleTreeRoot }}
      </div>
    </ngx-t3-copy-to-clipboard>
  </div>
  <div class="tw-grow tw-basis-0 tw-px-3 tw-box-border tw-max-w-[200px]">
    {{ blockItem.createdAt | date : 'dd LLL yyyy, hh:mm:ss a' }}
  </div>
</div>
