@use "sass:math";

$blocks: (2 * 4 + 5);
$blockSize: 10vw;
$xFactor: math.sqrt(3) * 0.5; // apothem of the hexagon (cube in isometric projection)
$yFactor: 0.5; // half side of the hexagon

:host {
  position: relative;
  overflow: hidden;
}


.animation-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translate(0, -5vw);

  // Mask for radial gradient alpha "disappear" effect
  mask-mode: alpha;

  mask-image: radial-gradient(#ffff, #fff0 70%);
  mask-size: 50vw 50vw;
  mask-repeat: no-repeat;
  mask-position: center;

  .blockchain {
    position: relative;
    left: 50%;
    top: 50%;
    width: $blockSize * ($blocks - 1) * $xFactor;
    height: $blockSize * ($blocks - 1) * $yFactor;
    transition: all 0.75s ease-in-out;
    @for $blockIndex from 1 through ($blocks + 3) {
      app-carousel-block:nth-child(#{$blockIndex}) {
        top: ($blocks - $blockIndex) * $blockSize * $yFactor;
        left: ($blockIndex - 1) * $blockSize * $xFactor;
        z-index: $blocks - $blockIndex;
      }
    }

    @for $blockIndex from 0 through 3 {
      &.anim-step-#{$blockIndex} {
        transform: translate(-25% * ($blockIndex + 1), -(100% - (25% * ($blockIndex + 1))));
      }
    }

    app-carousel-block {
      position: absolute;
      width: $blockSize;
      height: $blockSize;
      transform: translate(-50%, -50%);
    }
  }
}

.carousel-switch {
  position: absolute;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 16px;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);

  .control {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    &.selected {
      height: 24px;
      width: 24px;
      background-color: var(--tw-white);
    }
    &:hover {
      background-color: var(--tw-white);
    }
  }
}

.text-boxes {
  position: absolute;
  top: calc(60% + 4em);
  width: 100%;
  text-align: center;
  .text-box {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transition-delay: 0.65s;
    transition: all 0.25s;
    text-shadow: 0 4px 1em #0002;

    &.selected {
      opacity: 1;
      transition-delay: 0;
    }
    h2 {
      font-size: 40px !important;
    }
    p {
      margin: .5em auto;
      max-width: 500px;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .animation-container, .text-boxes {
    bottom: 2em;
  }
  .carousel-switch {
    flex-direction: row;
    right: 50%;
    transform: translate(50%, 0);
    width: auto;
    top: unset;
    bottom: 1em;
  }
}
