<ngx-t3-sidebar-header
  class="tw-t3-sidebar-header-container"
  [backToLabel]="'i18n.Common.projectLog' | translate"
  (backTo)="router.navigate(['../../log'],  { relativeTo: route, queryParamsHandling: 'merge' })">
</ngx-t3-sidebar-header>

<ng-container *ngIf="paginator$ | async as paginator">
  <ngx-t3-paginator-list
    *ngIf="{
      total: paginator.total.value$ | async,
      loading: paginator.loading.value$ | async,
      items: paginator.items.value$ | async
    } as resolved"
    class="tw-overflow-auto tw-h-full tw-pb-4"
    [class.tw-mt-[6.25rem]]="resolved.total === 0 && !resolved.loading"
    [paginator]="paginator">
    <app-snapshot-renderer
      *ngFor="let snapshot of resolved.items"
      [snapshot]="snapshot"></app-snapshot-renderer>
  </ngx-t3-paginator-list>
</ng-container>
