<ng-container *ngIf="{
  blockAcknowledgementsInfo: blockAcknowledgementsInfo$ | async,
  editor: editor$ | async,
  assignee: assignee$ | async
} as resolved">

  <ng-container *ngIf="thread; else skeleton">
    <ngx-t3-descriptions class="tw-block">
      <ngx-t3-description-item
        label="topic"
        [multiline]="true">
        <span
          *ngIf="thread.name | exportedAndDefined; else redacted"
          class="tw-break-words tw-text-sm">
          {{ thread.name }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastEditor' | translate">
        <app-participant-identity [participant]="resolved.editor"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.created' | translate">
        <span
          *ngIf="thread.createdAt; else redacted"
          class="tw-text-sm">
          {{ thread.createdAt | date: 'dd LLL yyyy, h:mm a' }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="referencesCount"
        [label]="'i18n.Common.refs' | translate">
        <span
          class="tw-text-sm"
          [ngClass]="{ 'tw-underline tw-cursor-pointer': referencesCount }"
          (click)="referencesClick.next()">
          {{ referencesCount }} {{ referencesCount === 1 ? 'time' : 'times' }}
        </span>
        <mat-icon
          *ngIf="referencesCount"
          end
          class="tw-text-neutral-400 tw-w-4 tw-h-4 tw-cursor-pointer"
          (click)="referencesClick.next()">
          arrow_forward
        </mat-icon>
    </ngx-t3-description-item>

      <ngx-t3-description-item label="status">
        <span
          *ngIf="thread.isResolved | exported; else redacted"
          class="tw-text-sm">
          {{ thread.isResolved ? 'Resolved' : 'Open' }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="thread.assigneeId | exportedAndDefined"
        [label]="'i18n.Common.assignee' | translate">
        <app-participant-identity [participant]="resolved.assignee"></app-participant-identity>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastEdit' | translate">
        <span
          *ngIf="thread.updatedAt !== undefined; else redacted"
          class="tw-text-sm">
          {{ thread.updatedAt | date: 'dd LLL yyyy, h:mm a' }}
        </span>
      </ngx-t3-description-item>

      <ngx-t3-description-item
        *ngIf="participantsCount"
        [label]="'i18n.Common.participants' | translate">
        <span
          class="tw-text-sm"
          [ngClass]="{ 'tw-underline tw-cursor-pointer': participantsCount }"
          (click)="participantsClick.next()">
          {{ participantsCount || 0 }} {{ (participantsCount === 1 ? 'i18n.Project.ThreadInfo.participant' : 'i18n.Common.participants') | translate }}
        </span>
        <mat-icon
          end
          class="tw-text-neutral-400 tw-w-4 tw-h-4 tw-cursor-pointer"
          (click)="participantsClick.next()">
          arrow_forward
        </mat-icon>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.lastLinkHash' | translate">
        <ngx-t3-copy-to-clipboard
          class="tw-block tw-truncate"
          position="left"
          [textToCopy]="thread.updatedInBlock.linkHash | uint8">
          <div class="tw-text-sm tw-font-code tw-truncate tw-underline tw-mr-1">
            {{ thread.updatedInBlock.linkHash | uint8 }}
          </div>
        </ngx-t3-copy-to-clipboard>
      </ngx-t3-description-item>

      <ngx-t3-description-item [label]="'i18n.Common.acks' | translate">
        <span class="tw-text-sm">
          <app-acks-status
            [blockAcknowledgementInfo]="resolved.blockAcknowledgementsInfo"
            (click)="openAcknowledgementsDialog(thread.updatedInBlock)">
          </app-acks-status>
        </span>
      </ngx-t3-description-item>
    </ngx-t3-descriptions>
  </ng-container>
</ng-container>

<ng-template #redacted>
  <div class="redacted tw-text-sm">{{ 'i18n.Common.redacted' | translate }}</div>
</ng-template>

<ng-template #skeleton>
  <div class="tw-flex tw-flex-col tw-justify-center !tw-ml-3 tw-grow">
    <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
    <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
    <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
  </div>
</ng-template>
