<ng-container *ngIf="paginator">
  <div *ngIf="!paginator.loading.value; else loadingParticipants">
    <ngx-t3-paginator-list
      class="tw-overflow-y-auto tw-grow"
      [paginator]="paginator">
      <div
        *ngFor="let participant of paginator.items.value; let last = last"
        class="tw-py-2"
        [ngClass]="{ 'tw-border-b tw-border-neutral-200': !last }">
        <app-participant-identity
          size="sm"
          class="tw-mx-4"
          [participant]="participant"></app-participant-identity>
      </div>
    </ngx-t3-paginator-list>
  </div>

  <ng-template #loadingParticipants>
    <div class="tw-flex tw-flex-col tw-justify-center !tw-ml-3 tw-grow">
      <ngx-t3-skeleton class="tw-h-8 tw-mb-7 tw-w-3/4"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
      <ngx-t3-skeleton class="tw-h-3 tw-mb-2 tw-w-[41.67%]"></ngx-t3-skeleton>
    </div>
  </ng-template>

</ng-container>
