<app-topbar class="opal-d-block"></app-topbar>

<div class="layout-content">
  <div class="opal-fx-row opal-fx-justify-around opal-mt-3 top-content opal-fx-align-center">
    <div class="opal-h2 opal-mr-auto">
      {{ 'i18n.Explorer.ledgerExplorer' | translate }}
    </div>
    <button
      *ngIf="ledgerService.archiveLoaded"
      class="opal-fx-center opal-border-grey-200 opal-border-1 back-to-viewer opal-bg-transparent"
      mat-flat-button
      queryParamsHandling="merge"
      [routerLink]="['/project']">
      {{ 'i18n.Explorer.back' | translate }}
    </button>
  </div>

  <div
    *ngIf="ledgerInfo$ | async as ledgerInfo"
    class="opal-fx-row opal-fx-justify-around top-content">
    <div class="opal-fx-row opal-fx-align-center opal-p-3 opal-bg-white opal-radius-8 opal-border-1 opal-border-grey-200 opal-fx-g-1 opal-fx-justify-start opal-ellipsed">
      <span class="opal-min-w-35 opal-overline">
        {{ 'i18n.Explorer.address' | translate }}
      </span>
      <div
        *ngIf="ledgerInfo.address | uint8 as address"
        class="opal-px-3 opal-border-box opal-fx-g-1 opal-fx-b-0 opal-fx-row opal-fx-justify-start opal-fx-align-center opal-ellipsed">
        <ngx-t3-copy-to-clipboard
          class="opal-w-full"
          position="left"
          [copiedTooltip]="'i18n.Common.copied' | translate"
          [tooltip]="'i18n.Common.clitToCopy' | translate"
          [textToCopy]="address">
          <div class="opal-ellipsed opal-body-1 opal-text-mono opal-mr-1">{{ address }}</div>
        </ngx-t3-copy-to-clipboard>
      </div>
    </div>
    <div class="opal-fx-row opal-fx-align-center opal-p-3 opal-bg-white opal-radius-8 opal-border-1 opal-border-grey-200 opal-mx-3">
      <span class="opal-w-35 opal-overline">
        {{'i18n.Explorer.headIndex' | translate}}
      </span>
      <span class="opal-body-1">{{ ledgerInfo.headIndex }}</span>
    </div>
    <div class="opal-fx-row opal-fx-align-center opal-p-3 opal-bg-white opal-radius-8 opal-border-1 opal-border-grey-200">
      <span class="opal-w-35 opal-overline">
        {{ 'i18n.Explorer.version' | translate }}
      </span>
      <span class="opal-body-1">{{ ledgerInfo.version }}</span>
    </div>
  </div>

  <ngx-t3-tabs
    class="opal-text-capitalize top-content"
    [(value)]="tagLabel">
    <ngx-t3-tab-item value="block">{{ 'i18n.Explorer.block' | translate }}</ngx-t3-tab-item>
    <ngx-t3-tab-item value="off chain data">
      {{ 'i18n.Explorer.offChainData' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="proofs">
      {{ 'i18n.Explorer.proofs' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="in chain keys">
      {{ 'i18n.Explorer.inChainKeys' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="off chain keys">
      {{ 'i18n.Explorer.offChainKeys' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="miscellaneous">{{ 'i18n.Explorer.misc' | translate }}</ngx-t3-tab-item>
  </ngx-t3-tabs>

  <div class="opal-border-b-1 opal-border-grey-200"></div>

  <app-block-tab-content
    *ngIf="tagLabel === 'block'"
    class="main-content">
  </app-block-tab-content>

  <app-off-chain-tab-content
    *ngIf="tagLabel === 'off chain data'"
    class="main-content">
  </app-off-chain-tab-content>

  <app-proofs-tab-content
    *ngIf="tagLabel === 'proofs'"
    class="main-content">
  </app-proofs-tab-content>

  <app-in-chain-keys-tab-content
    *ngIf="tagLabel === 'in chain keys'"
    class="main-content">
  </app-in-chain-keys-tab-content>

  <app-off-chain-keys-tab-content
    *ngIf="tagLabel === 'off chain keys'"
    class="main-content">
  </app-off-chain-keys-tab-content>

  <app-miscellaneous-tab-content
    *ngIf="tagLabel === 'miscellaneous'"
    class="opal-fx-col opal-overflow-y-auto main-content">
  </app-miscellaneous-tab-content>
</div>
