<app-topbar class="tw-block"></app-topbar>

<div class="layout-content">
  <div class="tw-flex tw-flex-row tw-justify-around tw-my-3 top-content tw-items-center">
    <button
      *ngIf="ledgerService.archiveLoaded"
      class="material-symbols-outlined tw-mr-2"
      queryParamsHandling="merge"
      [routerLink]="['/project']"
      [matTooltip]="'i18n.Explorer.back' | translate">
      chevron_left
    </button>
    <div class="tw-h2 tw-mr-auto">
      {{ 'i18n.Explorer.ledgerExplorer' | translate }}
    </div>
  </div>

  <div
    *ngIf="ledgerInfo$ | async as ledgerInfo"
    class="tw-flex tw-flex-row tw-justify-around top-content !tw-p-2 tw-mx-2 md:tw-mx-6 tw-bg-white !tw-rounded-lg tw-border tw-border-neutral-200">

    <div class="tw-flex tw-flex-col tw-gap-1 tw-grow tw-justify-start tw-truncate">
      <span class="tw-min-w-[140px] tw-t3-text-overline">
        {{ 'i18n.Explorer.address' | translate }}
      </span>
      <div
        *ngIf="ledgerInfo.address | uint8 as address"
        class="tw-pr-3 tw-box-border tw-grow tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
        <ngx-t3-copy-to-clipboard
          class="tw-w-full"
          position="left"
          [copiedTooltip]="'i18n.Common.copied' | translate"
          [tooltip]="'i18n.Common.clitToCopy' | translate"
          [textToCopy]="address">
          <div class="tw-truncate tw-text-base tw-font-mono tw-mr-1">{{ address }}</div>
        </ngx-t3-copy-to-clipboard>
      </div>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-1">
      <span class="tw-w-[8.75rem] tw-t3-text-overline">
        {{'i18n.Explorer.headIndex' | translate}}
      </span>
      <span class="tw-text-base">{{ ledgerInfo.headIndex }}</span>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-1">
      <span class="tw-w-[8.75rem] tw-t3-text-overline">
        {{ 'i18n.Explorer.version' | translate }}
      </span>
      <span class="tw-text-base">{{ ledgerInfo.version }}</span>
    </div>
  </div>

  <ngx-t3-tabs
    class="tw-capitalize top-content tw-overflow-x-auto tw-shrink-0 tw-border-b tw-border-b-neutral-200 tw-justify-between"
    [(value)]="tagLabel">
    <ngx-t3-tab-item value="block">{{ 'i18n.Explorer.block' | translate }}</ngx-t3-tab-item>
    <ngx-t3-tab-item value="off chain data">
      {{ 'i18n.Explorer.offChainData' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="proofs">
      {{ 'i18n.Explorer.proofs' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="in chain keys">
      {{ 'i18n.Explorer.inChainKeys' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="off chain keys">
      {{ 'i18n.Explorer.offChainKeys' | translate }}
    </ngx-t3-tab-item>
    <ngx-t3-tab-item value="miscellaneous">{{ 'i18n.Explorer.misc' | translate }}</ngx-t3-tab-item>
  </ngx-t3-tabs>

  <app-block-tab-content
    *ngIf="tagLabel === 'block'"
    class="main-content">
  </app-block-tab-content>

  <app-off-chain-tab-content
    *ngIf="tagLabel === 'off chain data'"
    class="main-content">
  </app-off-chain-tab-content>

  <app-proofs-tab-content
    *ngIf="tagLabel === 'proofs'"
    class="main-content">
  </app-proofs-tab-content>

  <app-in-chain-keys-tab-content
    *ngIf="tagLabel === 'in chain keys'"
    class="main-content">
  </app-in-chain-keys-tab-content>

  <app-off-chain-keys-tab-content
    *ngIf="tagLabel === 'off chain keys'"
    class="main-content">
  </app-off-chain-keys-tab-content>

  <app-miscellaneous-tab-content
    *ngIf="tagLabel === 'miscellaneous'"
    class="tw-flex tw-flex-col tw-overflow-y-auto main-content">
  </app-miscellaneous-tab-content>
</div>
