<ng-container *appIfPersonParticipant="participant; else workflowAvatarGroup">
  <ng-container *ngIf="{
    agent: agent$ | async,
    organization: organization$ | async
  } as resolved">
    <ngx-t3-avatar-group [matTooltip]="showTooltip && resolved.agent?.fullName || ''">
      <ngx-t3-avatar
        *ngIf="resolved.agent?.agentType !== ViewerAgentType.Thing"
        [placeholder]="AvatarPlaceholder.Person"
        [size]="avatarSize"
        [src]="resolved.agent && resolved.agent.avatar">
      </ngx-t3-avatar>
      <ngx-t3-thing-avatar
        *ngIf="resolved.agent && resolved.agent.agentType === ViewerAgentType.Thing"
        size="xxs"
        [matTooltip]="resolved.agent.name || ''"
        [thingAvatar]="resolved.agent.avatar"
        [thingInfo]="getThingTypeInfo(resolved.agent.type)"></ngx-t3-thing-avatar>
      <ngx-t3-avatar
        [placeholder]="AvatarPlaceholder.Organization"
        [size]="avatarSize"
        [src]="resolved.organization && resolved.organization.logo">
      </ngx-t3-avatar>
    </ngx-t3-avatar-group>
  </ng-container>
</ng-container>
<ng-template #workflowAvatarGroup>
  <ngx-t3-avatar-group [matTooltip]="showTooltip && workflowTooltip || ''">
    <ngx-t3-avatar
      [size]="avatarSize"
      [src]="WorkflowAvatar.Bot">
    </ngx-t3-avatar>
    <ngx-t3-avatar
      [size]="avatarSize"
      [src]="WorkflowAvatar.Organization">
    </ngx-t3-avatar>
  </ngx-t3-avatar-group>
</ng-template>
