<ng-container
  *ngIf="{
    keyPair: keyPair$ | async,
    exportRequest: exportRequest$ | async
  } as resolved">
  <div class="tw-py-3 tw-px-4 tw-bg-white tw-border !tw-rounded-lg tw-border-neutral-200">
    <div class="tw-h2">
      {{ 'i18n.Explorer.keyPair' | translate }}
    </div>
    <div class="tw-border-b tw-border-neutral-100 tw--mx-4 tw-flex tw-flex-row tw-items-center tw-py-3 tw-px-4">
      <div class="tw-flex tw-flex-row tw-items-center tw-truncate tw-w-full">
        <span class="tw-w-[7.5rem] table-header-cell">Key ID</span>
        <div class="tw-grow-[3] tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
          <ngx-t3-copy-to-clipboard
            *ngIf="resolved.keyPair?.keyId as keyId"
            class="tw-w-full"
            position="left"
            [textToCopy]="keyId"
            (click)="$event.stopImmediatePropagation()">
            <div
              class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">
              {{ keyId }}
            </div>
          </ngx-t3-copy-to-clipboard>
          <div
            *ngIf="!resolved.keyPair?.keyId"
            class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
            {{ 'i18n.Common.none' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="tw-border-b tw-border-neutral-100 tw--mx-4 tw-flex tw-flex-row tw-items-center tw-py-3 tw-px-4 tw-truncate">
      <span class="tw-w-[7.5rem] table-header-cell">{{ 'i18n.Explorer.type' | translate }}</span>
      <div
        *ngIf="resolved.keyPair?.keyType"
        class="tw-truncate tw-text-sm">
        {{ resolved.keyPair?.keyType }}
      </div>
      <div
        *ngIf="!resolved.keyPair?.keyType"
        class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
        {{ 'i18n.Common.none' | translate }}
      </div>
    </div>

    <div class="tw-border-b tw-border-neutral-100 tw--mx-4 tw-flex tw-flex-row tw-items-center tw-py-3 tw-px-4 tw-truncate">
      <span class="tw-w-[7.5rem] table-header-cell">
        {{ 'i18n.Explorer.curve' | translate }}
      </span>
      <div
        *ngIf="resolved.keyPair?.curve"
        class="tw-truncate tw-text-sm">
        {{ resolved.keyPair?.curve }}
      </div>
      <div
        *ngIf="!resolved.keyPair?.curve"
        class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
        {{ 'i18n.Common.none' | translate }}
      </div>
    </div>

    <div class="tw-border-b tw-border-neutral-100 tw--mx-4 tw-flex tw-flex-row tw-items-center tw-py-3 tw-px-4 tw-truncate">
      <span class="tw-w-[7.5rem] table-header-cell">
        {{ 'i18n.Explorer.creationTime' | translate }}
      </span>
      <div
        *ngIf="resolved.keyPair?.createdAt"
        class="tw-truncate tw-text-sm">
        {{ resolved.keyPair?.createdAt | date : 'dd LLL yyyy, hh:mm:ss a' }}
      </div>
      <div
        *ngIf="!resolved.keyPair?.createdAt"
        class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
        {{ 'i18n.Common.none' | translate }}
      </div>
    </div>
    <div class="tw-border-b tw-border-neutral-100 tw--mx-4 tw-flex tw-flex-row tw-items-center tw-py-3 tw-px-4">
      <div class="tw-flex tw-flex-row tw-items-center tw-truncate tw-w-full">
        <span class="tw-w-[7.5rem] table-header-cell">
          {{ 'i18n.Explorer.publicKey' | translate }}
        </span>
        <div class="tw-grow-[3] tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
          <ngx-t3-copy-to-clipboard
            *ngIf="resolved.keyPair?.publicKey as publicKey"
            class="tw-w-full"
            position="left"
            [textToCopy]="publicKey"
            (click)="$event.stopImmediatePropagation()">
            <div
              class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">
              {{ publicKey }}
            </div>
          </ngx-t3-copy-to-clipboard>
          <div
            *ngIf="!resolved.keyPair?.publicKey"
            class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
            {{ 'i18n.Common.none' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="tw--mx-4 tw-flex tw-flex-row tw-items-center tw-pt-3 tw-px-4">
      <div class="tw-flex tw-flex-row tw-items-center tw-truncate tw-w-full">
        <span class="tw-w-[7.5rem] table-header-cell">
          {{ 'i18n.Explorer.secretKey' | translate }}
        </span>
        <div class="tw-grow-[3] tw-basis-0 tw-flex tw-flex-row tw-justify-start tw-items-center tw-truncate">
          <ngx-t3-copy-to-clipboard
            *ngIf="resolved.keyPair?.secretKey as secretKey"
            class="tw-w-full"
            position="left"
            [textToCopy]="secretKey"
            (click)="$event.stopImmediatePropagation()">
            <div
              class="tw-font-mono tw-text-sm tw-truncate tw-mr-1">
              {{ secretKey }}
            </div>
          </ngx-t3-copy-to-clipboard>
          <div
            *ngIf="!resolved.keyPair?.secretKey"
            class="tw-capitalize tw-text-base tw-text-neutral-400 tw-italic">
            {{ 'i18n.Common.none' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tw-p-3 tw-bg-white tw-border !tw-rounded-lg tw-mt-6 tw-border-neutral-200">
    <div class="tw-h2">
      {{ 'i18n.Explorer.exportConfiguration' | translate }}
    </div>
    <ngx-json-viewer
      class="tw-border-0 tw-mt-4"
      [expanded]=false
      [json]="resolved.exportRequest || { }"></ngx-json-viewer>
  </div>
</ng-container>
