:root {
  --ngx-t3-thread-message-code-block-bg-color: rgba(var(--tw-black),  0.1) !important;
}

.message-content-container {
  line-height: 20px;

  .message-content-tag {
    @apply tw-text-base ;
    display: inline-flex;
    align-items: center;
    margin-inline: 1px;
    max-width: 100%;
    width: fit-content;
    height: 19px;
    line-height: 19px;
    border-radius: 4px;
    padding: 0px 4px;

    &.thread {
      background-color: var(--tw-cyan-200);
      --ngx-t3-thread-message-render-tag-bg-color: var(--tw-cyan-200);
      mat-icon:first-of-type {
        @apply tw-text-cyan-600 ;
      }
    }
    &.document {
      background-color: var(--tw-neutral-200);
      --ngx-t3-thread-message-render-tag-bg-color: var(--tw-neutral-200);
      mat-icon:first-of-type {
        @apply tw-text-neutral-600 ;
      }
    }
    &.participant {
      background-color: var(--tw-indigo-200);
      --ngx-t3-thread-message-render-tag-bg-color: var(--tw-indigo-200);
      mat-icon:first-of-type {
        @apply tw-text-indigo-500 ;
      }
    }
    &.stream {
      background-color: var(--tw-blue-200);
      --ngx-t3-thread-message-render-tag-bg-color: var(--tw-blue-200);
      mat-icon:first-of-type {
        @apply tw-text-blue-600 ;
      }
    }
    &.redacted-fragment {
      background-color: var(--tw-neutral-200);
      --ngx-t3-thread-message-render-tag-bg-color: var(--tw-neutral-200);
      mat-icon:first-of-type {
        @apply tw-text-neutral-400 ;
      }
    }

    mat-icon {
      @apply tw-inline-flex ;
      @apply tw-w-4 tw-h-4;
      &:first-of-type {
        margin-right: 4px;
      }
    }
  }

  .code-block {
    background: var(--ngx-t3-thread-message-code-block-bg-color);
  }

  .reduced {
    .code-block {
      background: var(--ngx-t3-thread-message-code-block-bg-color);
      @apply tw-truncate ;
    }
  }
}
