<ng-container *ngIf="blockAcknowledgementInfo; else skeleton">
  <div class="opal-fx-row opal-fx-align-center opal-fx-justify-center">
    <app-acks-icon
      class="opal-mt-1"
      [status]="blockAcknowledgementInfo.status"></app-acks-icon>
    <span class="opal-ml-2 opal-pointer opal-text-underline">
      {{ blockAcknowledgementInfo.acknowledged }}/{{ blockAcknowledgementInfo.total }} {{ 'i18n.Common.organizations' | translate }}
    </span>
  </div>
</ng-container>

<ng-template #skeleton>
  <ngx-t3-skeleton class="opal-s4"></ngx-t3-skeleton>
</ng-template>
