<ng-container *ngIf="blockAcknowledgementInfo; else skeleton">
  <div class="tw-flex tw-flex-row tw-items-center tw-justify-center">
    <app-acks-icon
      class="tw-mt-1"
      [status]="blockAcknowledgementInfo.status"></app-acks-icon>
    <span class="tw-ml-2 tw-cursor-pointer tw-underline">
      {{ blockAcknowledgementInfo.acknowledged }}/{{ blockAcknowledgementInfo.total }} {{ 'i18n.Common.organizations' | translate }}
    </span>
  </div>
</ng-container>

<ng-template #skeleton>
  <ngx-t3-skeleton class="tw-w-4 tw-h-4"></ngx-t3-skeleton>
</ng-template>
