<ng-container *appIfPersonParticipant="participant; else workflowParticipantTemplate">
  <ng-container *ngIf="{
    agent: participant && (participant.agent$ | async),
    organization: participant && (participant.organization$ | async)
  } as participant">
    <ngx-t3-member-identity
      *ngIf="participant.agent?.agentType !== ViewerAgentType.Thing"
      [size]="size"
      [memberSrc]="participant.agent && participant.agent.avatar"
      [organizationSrc]="participant.organization && participant.organization.logo"
      [firstLine]="participant.agent && participant.agent.fullName || 'Redacted'"
      [secondLine]="showSecondLine ? participant.agent && participant.agent.jobTitle : undefined">
      <ngx-t3-identity-validation
        [size]="validationSize"
        [userValidation]="participant.agent?.userValidationState | identityValidation : 'user'"
        [memberValidation]="participant.agent?.userValidationState | identityValidation : 'member'"></ngx-t3-identity-validation>
    </ngx-t3-member-identity>

    <ng-container *ngIf="participant.agent && participant.agent.agentType === ViewerAgentType.Thing">
      <ngx-t3-thing-inline-info
        [size]="size"
        [thingName]="participant.agent.name"
        [thingAvatar]="participant.agent.avatar"
        [thingInfo]="getThingInfo(participant.agent.type)"
        [thingOrganizationLogo]="participant.organization?.logo">
        <ngx-t3-thing-inline-type
          *ngIf="showSecondLine && getThingInfo(participant.agent.type) as thingInfo"
          second-line
          size="xxs"
          [thingInfo]="thingInfo">
          {{ thingInfo.name | translate }}
        </ngx-t3-thing-inline-type>
      </ngx-t3-thing-inline-info>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #workflowParticipantTemplate>
  <ngx-t3-member-identity
    firstLine="Workflow"
    [size]="size"
    [memberSrc]="WorkflowAvatar.Bot"
    [organizationSrc]="WorkflowAvatar.Organization">
  </ngx-t3-member-identity>
</ng-template>
